Nazwa: <input type="text" ng-model="offer.name"><br />
Kategoria: <select ng-model="offer.category" ng-options="c.id as c.name for c in categories | filter:{bindable: true}">
</select><br />
Opis: <textarea ng-model="offer.description"></textarea><br />

<input type="file" ng-file-select="uploadLogo($files)" >
<img ng-src="{{ offer.logo.path }}" alt="offer logo"><br />

<pebutton icon="arrow-circle-o-left" ng-click="goTo('info')" text="Wstecz" />
<pebutton icon="arrow-circle-o-right" ng-click="goTo('address')" text="Dalej" />
