__pycache__
*.pyc
.sass-cache
beaker_data
planevent.egg-info
tmp
node_modules
bower_components
static/app.js
static/vendor.js
static/*.css
static/images/uploads/logos/*
!static/images/uploads/logos/dummyfile
static/images/uploads/galleries/*
!static/images/uploads/galleries/dummyfile
PlanEvent.sublime-project
PlanEvent.sublime-workspace
uwsgi_spoolfile*
uwsgi.pid
