__pycache__
*.pyc
.sass-cache
PlanEvent.egg-info
tmp
node_modules
static/app.js
static/vendor.js
static/*.css
static/images/uploads/logos/*
!static/images/uploads/logos/dummyfile
static/images/uploads/galleries/*
!static/images/uploads/galleries/dummyfile
PlanEvent.sublime-project
PlanEvent.sublime-workspace
