<span class="title">Kontakt</span>
<ul id="contacts" class="content" ng-controller="ContactsEditController">
    <li ng-repeat="contact in offer.contacts">
        <div class="contact-data">
            <span class="contact fa fa-{{ getContactIcon(contact.type) }}" ng-if="state!='editing'"></span>

            <multi-select
                ng-if="state=='editing'"
                input-model="contactTypes"
                button-label="icon"
                item-label="icon label"
                selection-mode="single"
                tick-property="ticked"
                helper-elements="">
            </multi-select>

            <span class="value" ng-if="state=='viewing'" ng-switch on="contact.type">
                <a ng-switch-when="email" href="mailto:{{ contact.value }}"> {{ contact.value || "Dane kontaktu" }} </a>
                <a ng-switch-when="www" href="{{ contact.value }}" target="_blank"> {{ contact.value || "Dane kontaktu" }} </a>
                <a ng-switch-when="facebook" href="{{ contact.value }}" target="_blank"> {{ contact.value || "Dane kontaktu" }} </a>
                <span ng-switch-default>{{ contact.value || "Dane kontaktu" }}</span>
            </span>

            <md-input-container ng-if="state=='editing'">
                <input name="contact-value" ng-model="contact.value">
            </md-input-container>

            <md-button class="small-button fa fa-trash-o" ng-if="state=='editing'" ng-click="removeContact($index)"></md-button>
        </div>

        <span class="description" ng-if="state=='viewing' && contact.description">
            {{ contact.description }}
        </span>

        <md-input-container ng-if="state=='editing'">
            <input name="contact-description" ng-model="contact.description">
        </md-input-container>

    </li>
    <md-button id="add-contact" class="wide-button fa fa-plus" ng-if="state=='editing'" ng-click="addContact()">Dodaj kontakt</md-button>
</ul>
