<ul id="contacts" ng-controller="ContactsEditController">
    <li ng-repeat="contact in offer.contacts">
        <div class="contact-data">
            <span class="contact fa fa-{{ getContactIcon(contact.type) }}"
                  editable-select="contact.type"
                  e-form="contactType"
                  e-ng-options="type as type for type in contactTypes"
                  ng-click="showEditable(contactType)"
                  ng-class="{editing: state=='editing'}">
            </span>

            <span class="value"
                  ng-switch on="contact.type"
                  editable-text="contact.value"
                  e-form="contactValue"
                  ng-click="showEditable(contactValue)"
                  ng-class="{editing: state=='editing'}">

                <a ng-switch-when="email" href="mailto:{{ contact.value }}"> {{ contact.value || "Dane kontaktu" }} </a>
                <a ng-switch-when="www" href="{{ contact.value }}" target="_blank"> {{ contact.value || "Dane kontaktu" }} </a>
                <a ng-switch-when="facebook" href="{{ contact.value }}" target="_blank"> {{ contact.value || "Dane kontaktu" }} </a>
                <span ng-switch-default>{{ contact.value || "Dane kontaktu" }}</span>

            </span>
        </div>

        <span class="description"
              ng-if="contact.description"
              editable-text="contact.description"
              e-form="contactDescription"
              ng-click="showEditable(contactDescription)"
              ng-class="{editing: state=='editing'}">
            {{ contact.description || (state=='editing' && "Opis kontaktu") || "" }}
        </span>

        <!-- <md-button class="small-button fa fa-times" ng-if="state=='editing'" ng-click="removeContact($index)">Usuń</md-button> -->
    </li>
    <md-button id="add-contact" class="wide-button fa fa-plus" ng-if="state=='editing'" ng-click="addContact()">Dodaj kontakt</md-button>
</ul>
