<span class="title">Informacje</span>
<ul id="fields" class="content">
	<li>
		<label>Kategoria</label>
		<span class="value"
		      editable-select="offer.category_id"
		      e-form="offerCategory"
		      e-ng-options="c.id as c.name for c in categories"
		      ng-click="showEditable(offerCategory)"
		      ng-class="{editing: state=='editing'}">
		    {{ getCategoryName(offer.category.id) }}
		</span>
	</li>

	<li>
		<label>Cena</label>
		<span class="value">{{ offer.price_min }}zł - {{ offer.price_max }}zł</span>
	</li>

	<li>
		<label>Dodano</label>
		<span class="value">{{ offer.added_at | date  }}</span>
	</li>

	<li>
		<label>Ostatnia zmiana</label>
		<span class="value">{{ offer.updated_at | date }}</span>
	</li>
</ul>
