<md-dialog aria-label="Logowanie" class="loginModal">

	<md-subheader class="md-sticky-no-effect">
		Logowanie
		<span class="modal-close fa fa-times" ng-click="cancel()"></span>
	</md-subheader>

	<md-content>
		<p>Zaloguj się przez swój email</p>
		<form name="loginForm" id="login-form" layout="column" layout-align="center center" novalidate>

			<md-input-container>
		        <label>Email</label>
		        <input required name="email" ng-model="email" type="email">
		        <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">
		        	<div ng-message="required">Email jest wymagany</div>
		        </div>
		     </md-input-container>

			<md-input-container>
		        <label>Hasło</label>
		        <input required name="password" ng-model="password" type="password">
		        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
		        	<div ng-message="required">Hasło jest wymagane</div>
		        	<div ng-message="incorrect">Podane hasło jest niepoprawne</div>
		        </div>
		     </md-input-container>

			<md-button class="submit-button wide-button fa fa-sign-in"
			    	   type="submit"
			    	   ng-click="login(email, password)"
			    	   ng-disabled="loginForm.$invalid"
			    	   ng-show="!waiting">
				Zaloguj się
			</md-button>
			<spinner ng-show="waiting"></spinner>
		</form>

		<p>lub</p>

		<div class="oauth" layout="row" layout-sm="column" layout-align="center center">
			<a href="/login/facebook" target="_self">
				<md-button class="fa fa-facebook">
					Zaloguj się przez Facebook
				</md-button>
			</a>

			<a href="/login/google" target="_self">
				<md-button class="fa fa-google-plus">
					Zaloguj się przez Google+
				</md-button>
			</a>
		</div>

		<div class="options" layout="row" layout-sm="column" layout-align="center center">
			<a ng-click="showRegistrationForm()">Nie mam jeszcze konta</a>
			<a ng-click="showRemindPasswordForm()">Zapomniałem hasła</a>
		</div>
	</md-content>
</md-dialog>
