<modal title="Logowanie">
	<p>Zaloguj się przez swój email</p>
	<form id="login-form" layout="vertical" layout-align="center center">
		<md-text-float label="Email" ng-model="email" type="email" fid="email"></md-text-float>
		<md-text-float label="Hasło" ng-model="password" type="password" fid="password"></md-text-float>

		<md-button class="submit-button wide-button fa fa-sign-in" ng-click="login()" type="submit">
			Zaloguj się
		</md-button>
	</form>

	<p>lub</p>

	<div class="oauth">
		<md-button class="fa fa-facebook">
			Zaloguj się przez Facebook
		</md-button>

		<md-button class="fa fa-google-plus">
			Zaloguj się przez Google+
		</md-button>
	</div>

	<div class="options">
		<a ng-click="modal.close(); showRegistrationForm()">Nie mam jeszcze konta</a>
		<a ng-click="modal.close(); showRemindPasswordForm()">Zapomniałem hasła</a>
	</div>
</modal>
