<md-dialog aria-label="Rejestracja" class="registrationModal">

	<md-subheader class="md-sticky-no-effect">
		Rejestracja
		<span class="modal-close fa fa-times" ng-click="cancel()"></span>
	</md-subheader>

	<md-content>
		<p>Zarejestruj się przez swój email</p>
		<form name="registrationForm" id="login-form" layout="column" layout-align="center center">

			<md-input-container>
		        <label>Email</label>
		        <input required name="email" ng-model="email" type="email">
		        <div ng-messages="registrationForm.email.$error" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">
		        	<div ng-message="required">Email jest wymagany</div>
		        	<div ng-message="invalid">Podany email jest niepoprawny</div>
		        	<div ng-message="taken">Podany email jest już zajęty</div>
		        </div>
		    </md-input-container>

			<md-input-container>
		        <label>Hasło</label>
		        <input required minlength="5" name="password" ng-model="password" type="password">
		        <div ng-messages="registrationForm.password.$error" ng-show="registrationForm.password.$invalid && !registrationForm.password.$pristine">
		        	<div ng-message="required">Hasło jest wymagane</div>
					<ng-message when="minlength">Hasło musi mieć przynajmniej 5 znaków</ng-message>
		        </div>
		     </md-input-container>

			<md-input-container>
		        <label>Powtórz hasło</label>
		        <input required minlength="5" name="passwordRepeated" ng-model="passwordRepeated" type="password">
		        <div ng-messages="registrationForm.passwordRepeated.$error" ng-show="registrationForm.passwordRepeated.$invalid && !registrationForm.passwordRepeated.$pristine">
		        	<div ng-message="required">Hasło jest wymagane</div>
		        	<div ng-message="dontmatch">Podane hasła nie są identyczne</div>
		        </div>
		     </md-input-container>

			<md-button class="submit-button wide-button fa fa-sign-in"
					   ng-click="register(email, password, passwordRepeated)"
					   type="submit"
					   ng-disabled="registrationForm.$invalid"
					   ng-show="!waiting">
				Zarejestruj się
			</md-button>
			<spinner ng-show="waiting"></spinner>

		</form>

		<p>lub</p>

		<div class="oauth" layout="row" layout-sm="column" layout-align="center center">
			<a href="/login/facebook" target="_self">
				<md-button class="fa fa-facebook">
					Zarejestruj się przez Facebook
				</md-button>
			</a>

			<a href="/login/google" target="_self">
				<md-button class="fa fa-google-plus">
					Zarejestruj się przez Google+
				</md-button>
			</a>
		</div>
	</md-content>
</md-dialog>z
