<md-dialog aria-label="Przypomnienie hasła" class="remindPasswordModal">

	<md-subheader class="md-sticky-no-effect">
		Przypomnienie hasła
		<span class="modal-close fa fa-times" ng-click="cancel()"></span>
	</md-subheader>

	<md-content>
		<p>Przypomnienie hasła zostanie wysłane na podany email</p>
		<form id="login-form" name="remindPasswordForm" layout="column" layout-align="center center">

			<md-input-container>
		        <label>Email</label>
		        <input required name="email" ng-model="email" type="email">
		        <div ng-messages="remindPasswordForm.email.$error" ng-show="remindPasswordForm.email.$invalid && !remindPasswordForm.email.$pristine">
		        	<div ng-message="required">Email jest wymagany</div>
		        	<div ng-message="invalid">Niepoprawny email</div>
		        </div>
		    </md-input-container>

			<md-button class="submit-button wide-button fa fa-sign-in"
					   ng-click="remindPassword(email)"
					   type="submit"
					   ng-disabled="remindPasswordForm.$invalid"
					   ng-show="!waiting">
				Przypomnij hasło
			</md-button>
			<spinner ng-show="waiting"></spinner>

		</form>
	</md-content>
</md-dialog>
