<md-dialog aria-label="Przypomnienie hasła" class="remindPasswordModal">

	<md-subheader class="md-sticky-no-effect">
		Przypomnienie hasła
		<span class="modal-close fa fa-times" ng-click="cancel()"></span>
	</md-subheader>

	<md-content>
		<p>Przypomnienie hasła zostanie wysłane na podany email</p>
		<form id="login-form" layout="column" layout-align="center center">
			<md-text-float label="Email" ng-model="email" type="email" md-fid="email"></md-text-float>
			<md-button class="submit-button fa fa-sign-in" ng-click="remindPassword(email)" type="submit">
				Przypomnij hasło
			</md-button>
		</form>
	</md-content>
</md-dialog>
