<md-sidenav class="user-sidebar md-sidenav-right md-whiteframe-z5" md-component-id="userSidebar">
    <md-content class="md-padding" layout="column" ng-controller="UserSidebarController">

        <a href="/offers/new" ng-click="close()">
            <md-button class="fa fa-plus wide-button call-to-action-button">
                Dodaj ofertę
            </md-button>
        </a>

        <md-divider></md-divider>

        <a href="/user/offers">
            <md-button class="md-primary wide-button fa fa-suitcase" ng-click="close()">
                Moje oferty
            </md-button>
        </a>

        <a href="/user/offers">
            <md-button class="md-primary wide-button fa fa-star-o" ng-click="close()">
                Ulubione oferty
            </md-button>
        </a>

        <a href="/user/likings">
            <md-button class="md-primary wide-button fa fa-smile-o" ng-click="close()">
                Upodobania
            </md-button>
        </a>

        <md-divider></md-divider>

        <a href="/user/informations">
	        <md-button class="md-primary wide-button fa fa-user" ng-click="close()">
	            Profil
	        </md-button>
        </a>

        <a href="/user/settings">
	        <md-button class="md-primary wide-button fa fa-gear" ng-click="close()">
	            Ustawienia
	        </md-button>
        </a>

        <md-divider></md-divider>

        <a href="/admin" target="_blank">
            <md-button class="md-primary wide-button call-to-action-button fa fa-gears" ng-click="close()">
                Panel admina
            </md-button>
        </a>

        <md-button class="md-primary wide-button call-to-action-button fa fa-sign-out" ng-click="logout()">
            Wyloguj
        </md-button>

    </md-content>
</md-sidenav>
