<figure>
    <a href="/offers/{{ offer.id }}">
        {{ offer.name }}
    </a>
    <p>
        {{ offer.description }}
    </p>
    <img src="{{ offer.preview_image_url }}" alt="{{ offer.name }}">
</figure>
