<label>Kategoria:</label>
<span class="value"
      editable-select="offer.category.id"
      e-form="offerCategory"
      e-ng-options="c.id as c.name for c in categories"
      ng-click="showEditable(offerCategory)"
      ng-class="{editing: state=='editing'}"
      onbeforesave="updateOffer($data)">
    {{ getCategoryName(offer.category.id) }}
</span><br />

<label>Cena:</label>
<span class="value">{{ offer.price_min }}zł - {{ offer.price_max }}zł</span><br />

<label>Dodano:</label>
<span class="value">{{ offer.added_at }}</span><br />

<label>Ostatnia zmiana:</label>
<span class="value">{{ offer.updated_at }}</span><br />
