<section id="offer" layout="vertical">
    <div class="details">
        <div class="data" layout-md="horizontal" layout="vertical">
            <ng-include class="fields widget" src="'assets/partials/offer/fields.html'"></ng-include>
            <ng-include class="widget" src="'assets/partials/offer/contacts.html'"></ng-include>
        </div>
        <p class="description widget"
           ng-bind-html="offer.description"
           ng-if="state!='editing'"
           ng-class="{editing: state=='editing'}"></p>
        <text-angular class="widget" ng-model="offer.description" ng-if="state=='editing'"></text-angular>
    </div>

    <div class="widgets" layout="vertical" layout-md="horizontal">
        <div class="widget map-widget">
            <span class="title"
                  ng-show="state!='editing'"
                  ng-class="{editing: state=='editing'}">
                {{ offer.address.formatted }}
            </span>
            <addressSetter ng-if="state=='editing'" ng-model="offer.address" type="simple"></addressSetter>
            <addressviewer ng-model="offer.address"></addressviewer>
        </div>
        <gallery-preview ng-model="offer.gallery" limit="4" ng-click="showGallery()" />
    </div>
</section>
