<article layout-lg="horizontal" layout="vertical" ng-if="fetched">
    <div class="offer-page">

        <div class="navigation" layout-lg="horizontal" layout="vertical">

            <p class="title"
               editable-text="offer.name"
               e-form="offerTitle"
               ng-click="showEditable(offerTitle)"
               ng-class="{editing: state=='editing'}">
                {{ offer.name || "Tutaj tytuł oferty" }}
            </p>

            <div class="actions">
                <div ng-show="state=='editing'">
                    <md-button class="fa fa-save" ng-click="saveOffer()">
                        Zapisz zmiany
                    </md-button>
                    <md-button class="fa fa-ban" ng-click="setState('viewing')">
                        Anuluj zmiany
                    </md-button>
                </div>
                <div ng-show="state=='viewing'">
                    <md-button class="fa fa-ban" ng-if="offer.status=='ACTIVE'" ng-click="deactivateOffer()">
                        Deaktywuj ofertę
                    </md-button>
                    <md-button class="fa fa-check" ng-if="offer.status=='INACTIVE'" ng-click="activateOffer()">
                        Aktywuj ofertę
                    </md-button>
                    <a href="#">
                        <md-button class="fa fa-times" ng-click="removeOffer()">
                            Usuń
                        </md-button>
                    </a>
                    <md-button class="fa fa-edit" ng-click="setState('editing')">
                        Edytuj
                    </md-button>
                </div>
                <spinner ng-show="state=='saving'"></spinner>
            </div>
        </div>

        <div id="offer-view" ng-include="'assets/partials/offer/offerView.html'" ng-show="fetched"></div>

    </div>

    <div class="related-offers" ng-controller="RelatedOffersController">
        <h3 class>Najbliższe podobne oferty:<br /></h3>
        <a href="/#/offers/{{ offer.id }}" class="offer-previews-wrapper" ng-repeat="offer in relatedOffers">
            <offerpreview offer="offer"></offerpreview>
        </a>
        <h4 ng-show="relatedOffers.length == 0">Brak pasujących wyników</h4>
    </div>
</article>

<article class="offer-fetch-errors" ng-if="error">
    <span class="fa fa-frown-o"></span>
    <h1 ng-if="error=='offerDoesNotExist'">
        Podana oferta nie istnieje
    </h1>
    <h1 ng-if="error=='unknown'">
        Wystąpił nieznany błąd
    </h1>
</article>
