@import "globals.scss";

#admin-panel {
    $column-width: 4em;
    @include container;
    @include border-box-sizing;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px #999 solid;
    background-color: $ligth;
    padding: 15px;
    label {
        @include span-columns(4, 12, 0.0em);
        text-align: right;
        line-height: 30px;
        font-weight: bold;
    }
    input, strong {
        @include span-columns(8 omega);
        height: 30px;
    }
    .alert {
        @include span-columns(12);
        margin-top: 10px;
    }
    .btn-wrapper {
        @include span-columns(12);
        .btn {
            float: right;
        }
    }
    #experiments-table {
        border: none;
        width: 100%;
        margin-top: 5px;
        thead tr {
            @include gradient-background($veryDarkGradient);
        }
        td {
            border-top: none;
        }
        tbody {
            tr {
                cursor: pointer;
                &.selected {
                    background-color: #A4CCAC !important;
                }
                &:nth-child(even) {
                    @include gradient-background($ligthGradient);
                }
                &:nth-child(odd) {
                    @include gradient-background($darkGradient);
                }
                &:hover {
                    @include gradient-background($yellowGradient);
                }
            }
        }
        #ab-edition-form {
            width: 100%;
            section {
                margin: 0px 10px 10px 10px;
                padding: 10px;
                @include gradient-background($greenYellowGradient);
                box-shadow: inset 0px 2px 11px 0px #494949;
            }
            td {
                padding: 0px;
            }
            #experiments-variations-table {
                margin-top: 10px;
                td {
                    padding-left: 5px;
                    border-right: 1px solid #949494;
                }
            }
        }
    }
    #create-experiment-button {
        float: right;
    }
}
