@import "globals.scss";

/* BUTTON */
.button {
    display: inline-block;
    a {
        margin: 3px;
        cursor: pointer;
        font-size: 30px;
        color: $button-primary-color;
        background-color: $button-background-color;
        padding: 5px;
        border: 2px solid $button-primary-color;
        border-radius: 8px;
        min-width: 30px;
        text-align: center;
        &:hover {
            @include transition(0.5s);
            text-decoration: none;
            background-color: $button-primary-color;
            color: $button-secondary-color;
        }
        .description {
            font-size: 15px;
            font-family: 'Open Sans', arial, sans-serif;
        }
    }
}
%button-slide {
    height: 64px;
    vertical-align: middle;
    a {
        padding: 8px 5px;
        &:hover {
            padding: 0px 5px;
            .description {
                @include transition(0.5s);
                height: 20px;
            }
        }
        .description {
            overflow: hidden;
            color: $button-secondary-color;
            height: 0px;
        }
    }
}
.button-right {
    @extend .button;
    a {
        display: table;
        .description {
            display: table-cell;
            vertical-align: middle;
            padding-left: 3px;
        }
    }
}
.button-slide {
    @extend .button;
    @extend %button-slide;
}

$galleryHeigth: 500px;
.gallery {
    max-height: $galleryHeigth;
    margin: 10px auto;
    text-align: center;
    border: 2px solid;
    @include perspective(1000px);
    @include transform-style(preserve-3d);
    .gallery-wrapper {
        width: 100%;
        padding-bottom: 75%;
        .slide {
            position: absolute;
            max-height: $galleryHeigth;
            width: 100%;
            div {
                position: relative;
                img {
                    max-height: $galleryHeigth;
                }
            }
        }
        .slide.ng-hide-add {
            display:block!important;
            opacity:1;
            @include transition(1s linear all);
            @include transform-origin(right top 0);
        }
        .slide.ng-hide-add.ng-hide-add-active {
            @include transform(rotateX(50deg) rotateY(30deg));
            opacity:0;
        }
        .slide.ng-hide-remove {
            @include transition(1s linear all);
            display:block!important;
            opacity:0;
        }
        .slide, .slide.ng-hide-remove.ng-hide-remove-active {
            opacity:1;
        }
        .arrow {
            position: absolute;
            height: 64px;
            width: 64px;
            margin-top: -35px;
            top: 50%;
            opacity: 0.2;
            cursor: pointer;
            &:hover {
                opacity:1;
            }
            &.prev {
                background-image: url("/static/images/prev.png");
                left: 20px;
                transition: all 0.2s linear 0s;
            }
            &.next {
                background-image: url("/static/images/next.png");
                right: 20px;
                transition: all 0.2s linear 0s;
            }
        }
        .nav {
            bottom: -15px;
            position: absolute;
            width: 100%;
            li {
                border: 5px solid #AAAAAA;
                border-radius: 5px;
                cursor: pointer;
                display: inline-block;
                margin: 0 8px;
                width: 60px;
                &.active {
                    border: 5px solid #FFFFFF;
                }
            }
        }
    }
}

.flipper {
    @include perspective(1000);
    height: 100%;
    .front, .back {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        @include transform-style(preserve-3d);
        @include transition(0.5s);
    }
    .back {
        @include backface-visibility(hidden);
        width: 100%;
        z-index: 0;
        @include rotateY(-180deg);
    }
    .front {
        z-index: 5;
        width: 100%;
    }
    &:hover {
        .front {
            z-index: 5;
            @include rotateY(180deg);
        }
        .back {
            z-index: 10;
            @include rotateY(0deg);
            @include scale(1.1);
        }
    }
}

.infinite-scroll {
    margin-right: 80px;
    .pagination {
        float: right;
        background-color: white;
        position: fixed;
        right: 10px;
        border-radius: 0px;
        ul {
            border-right: 4px solid $dominant;
            padding: 0px;
            margin-bottom: 0px;
            width: 70px;
            li {
                padding: 5px 8px;
                list-style: none;
                cursor: pointer;
                text-align: center;
                &.loaded {
                    background-color: #ECECEC;
                    border-left: 3px solid $dominant;
                }
                &.current {
                    font-weight: 600;
                }
                .fa {
                    color: $dominant;
                }
                &:hover {
                    background-color: #DCDCDC;
                    .pageNumber {
                        border-bottom: 2px solid $dominant;
                    }
                }
            }
        }
    }
    .content {
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
     .manual-loader {
        background-color: white;
        font-size: 20px;
        padding: 10px;
        width: 50%;
        min-width: 250px;
        margin: 0px auto;
        text-align: center;
        &:hover {
            cursor: pointer;
            span {
                border-bottom: 2px solid $dominant;
            }
        }
     }
}
