@import "globals.scss";

.widget {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    .title {
        display: block;
        padding: 3px;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        border-bottom: 2px solid $dominant;
    }
}

/* BUTTON */
.button {
    display: inline-block;
    a {
        margin: 3px;
        cursor: pointer;
        font-size: 30px;
        color: $button-primary-color;
        background-color: $button-background-color;
        padding: 5px;
        border: 2px solid $button-primary-color;
        border-radius: 8px;
        min-width: 30px;
        text-align: center;
        display: table;
        &:hover {
            @include transition(0.5s);
            text-decoration: none;
            background-color: $button-primary-color;
            color: $button-secondary-color;
        }
        &:active {
            background-color: $button-primary-color;
            color: $button-secondary-color;
        }
        .description {
            display: table-cell;
            vertical-align: middle;
            padding-left: 3px;
            font-size: 15px;
            font-family: 'Open Sans', arial, sans-serif;
        }
    }
}
%button-slide {
    height: 64px;
    vertical-align: middle;
    a {
        padding: 8px 5px;
        &:hover {
            padding: 0px 5px;
            .description {
                @include transition(0.5s);
                height: 20px;
            }
        }
        .description {
            overflow: hidden;
            color: $button-secondary-color;
            height: 0px;
        }
    }
}
.button-bottom {
    @extend .button;
    a {
        display: inline-block;
        .description {
            display: block;
            vertical-align: none;
            padding-left: 0px;
        }
    }
}
.button-slide {
    @extend .button-bottom;
    @extend %button-slide;
}

.editable-buttons {
    pebutton {
        &.submit {
            .button a {
                color: $button-submit-color;
                border-color: $button-submit-color;
                &:hover {
                    color: $button-secondary-color;
                    background-color: $button-submit-color;
                }
            }
        }
        .button a {
            font-size: 20px;
        }
    }
}

$galleryPreviewSize: 155px;
.galleryPreview {
    position: relative;
    width: 300px;
    cursor: pointer;
    .zoom-overlay {
        opacity: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        font-size: 70px;
        color: white;
        text-shadow: 1px 1px 3px black;
        .fa {
            text-align: center;
            width: 100%;
        }
    }
    &:hover {
        .zoom-overlay {
            @include transition(0.3s);
            opacity: 1;
        }
    }
    ul {
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            list-style: none;
            align-self: center;
            img {
                width: $galleryPreviewSize;
                height: auto;
                margin: 5px;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
            }
        }
    }
}

$galleryHeigth: 500px;
.gallery {
    .flex-viewport {
        max-height: $galleryHeigth;
    }
    .flex-control-thumbs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li {
            width: 10%;
            min-width: 80px;
            margin: 5px;
            img {
                @include transition(0.5s);
                &.flex-active {
                    @include transform(scale(1.1));
                }
            }
        }
    }
    .image {
        width: 100%;
        height: $galleryHeigth;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.galleryModal .modal-dialog {
    width: 80%;
    max-width: 1000px;
    .modal-header {
        padding: 0px;
        border-bottom: 2px solid $dominant;
        font-size: 40px;
        font-weight: 300;
        text-align: center;
    }
    .modal-body {
        .flexslider {
            margin: 0px;
        }
    }
    .modal-footer {
        padding: 15px;
        margin-top: 0px;
        text-align: center;
        border-top: 2px solid $dominant;
    }
}

.address-viewer .map {
    height: 300px;
}

.flipper {
    @include perspective(1000);
    height: 100%;
    .front, .back {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        @include transform-style(preserve-3d);
        @include transition(0.5s);
    }
    .back {
        @include backface-visibility(hidden);
        width: 100%;
        z-index: 0;
        @include rotateY(-180deg);
    }
    .front {
        z-index: 5;
        width: 100%;
    }
    &:hover {
        .front {
            z-index: 5;
            @include rotateY(180deg);
        }
        .back {
            z-index: 10;
            @include rotateY(0deg);
            @include scale(1.1);
        }
    }
}

.infinite-scroll {
    // margin-right: 80px; // space for pagination
    .pagination-wrapper {
        right: 20px;
        bottom: 80px;
        top: 80px;
        position: fixed;
        .pagination {
            float: right;
            background-color: white;
            border-radius: 0px;
            overflow-y: auto;
            max-height: 100%;
            width: 100px;
            ul {
                border-right: 4px solid $dominant;
                padding: 0px;
                margin-bottom: 0px;
                li {
                    padding: 5px 8px;
                    list-style: none;
                    cursor: pointer;
                    text-align: center;
                    &.loaded {
                        background-color: #ECECEC;
                        border-left: 3px solid $dominant;
                    }
                    &.current {
                        font-weight: 600;
                    }
                    .fa {
                        color: $dominant;
                    }
                    &:hover {
                        background-color: #DCDCDC;
                        .pageNumber {
                            border-bottom: 2px solid $dominant;
                        }
                    }
                }
            }
        }
    }
    .content {
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
     .manual-loader {
        background-color: white;
        font-size: 20px;
        padding: 10px;
        width: 50%;
        min-width: 250px;
        margin: 0px auto;
        text-align: center;
        &:hover {
            cursor: pointer;
            span {
                border-bottom: 2px solid $dominant;
            }
        }
     }
}

.address-setter {
    .input-wrapper {
        padding-right: 32px;
    }
    .validation {
        font-size: 30px;
        color: #41BB07;
        float: right;
        margin-top: 4px;
    }
}

.flex-direction-nav a {
    height: 60px;
    text-indent: 0px;
    font-size: 60px;
    color: transparent;
    &:link {
        text-decoration: none;
    }
    &:before {
        @include transition(0.6s);
        color: black;
        text-shadow: 0px 0px 15px white;
    }
    &:hover {
        &:before {
            @include transition(0.6s);
            text-shadow: 0px 0px 30px rgb(252, 255, 219);
        }
    }
    @extend .fa;
    &.flex-next {
        @extend .fa-chevron-right;
    }
    &.flex-prev {
        @extend .fa-chevron-left;
    }
}

#feedback {
    position: fixed;
    bottom: -20px;
    right: 10px;
    background: #A5BAF3;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #5B70CD;
    &.extended {
        @include transition(0.5s);
        width: 500px;
        height: 300px;
        bottom: -5px;
        .title {
            cursor: normal;
        }
    }
    &.collapsed {
        @include transition(0.5s);
        width: 100px;
        height: 50px;
        &:hover {
            @include transition(0.3s);
            bottom: -3px;
        }
        .title {
            cursor: pointer;
        }
    }
    .title {
        font-weight: 600;
        font-size: 16px;
        padding: 6px 15px 10px 15px;
    }
    label {
        margin-bottom: 0px;
        margin-top: 5px;
        font-weight: normal;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
        height: 140px;
        resize: none;
    }
    .button a {
        font-size: 17px;
    }
    h5 {
        position: relative;
        top: -11px;
        &.fa-times {
            color: $dominant;
        }
        &.fa-check {
            color: green;
        }
    }
}
