@import "globals.scss";

/* BUTTON */
.button {
    display: inline-block;
    a {
        margin: 3px;
        cursor: pointer;
        font-size: 30px;
        color: $button-primary-color;
        background-color: $button-background-color;
        padding: 5px;
        border: 2px solid $button-primary-color;
        border-radius: 8px;
        min-width: 30px;
        text-align: center;
        display: table;
        &:hover {
            @include transition(0.5s);
            text-decoration: none;
            background-color: $button-primary-color;
            color: $button-secondary-color;
        }
        &:active {
            background-color: $button-primary-color;
            color: $button-secondary-color;
        }
        .description {
            display: table-cell;
            vertical-align: middle;
            padding-left: 3px;
            font-size: 15px;
            font-family: 'Open Sans', arial, sans-serif;
        }
    }
}
%button-slide {
    height: 64px;
    vertical-align: middle;
    a {
        padding: 8px 5px;
        &:hover {
            padding: 0px 5px;
            .description {
                @include transition(0.5s);
                height: 20px;
            }
        }
        .description {
            overflow: hidden;
            color: $button-secondary-color;
            height: 0px;
        }
    }
}
.button-bottom {
    @extend .button;
    a {
        display: inline-block;
        .description {
            display: block;
            vertical-align: none;
            padding-left: 0px;
        }
    }
}
.button-slide {
    @extend .button-bottom;
    @extend %button-slide;
}

$galleryHeigth: 500px;
.gallery2 {
    .flex-viewport {
        max-height: $galleryHeigth;
    }
    .flex-control-thumbs li {
        width: 10%;
        min-width: 80px;
        min-height: 100px;
    }
    .flex-direction-nav a {
        height: 60px;
        &.flex-next {
            background-image: url("/static/images/next.png");
        }
        &.flex-prev {
            background-image: url("/static/images/prev.png");
        }
    }
    .image-outer-wrapper {
        text-align: center;
        .image-middle-wrapper {
            display: inline-block;
            .image-inner-wrapper {
                display: table-cell;
                vertical-align: middle;
                height: $galleryHeigth;
                img {
                    width: auto !important;
                    max-height: $galleryHeigth;
                }
            }
        }
    }
}

.flipper {
    @include perspective(1000);
    height: 100%;
    .front, .back {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        @include transform-style(preserve-3d);
        @include transition(0.5s);
    }
    .back {
        @include backface-visibility(hidden);
        width: 100%;
        z-index: 0;
        @include rotateY(-180deg);
    }
    .front {
        z-index: 5;
        width: 100%;
    }
    &:hover {
        .front {
            z-index: 5;
            @include rotateY(180deg);
        }
        .back {
            z-index: 10;
            @include rotateY(0deg);
            @include scale(1.1);
        }
    }
}

.infinite-scroll {
    margin-right: 80px;
    .pagination-wrapper {
        right: 20px;
        bottom: 80px;
        top: 80px;
        position: fixed;
        .pagination {
            float: right;
            background-color: white;
            border-radius: 0px;
            overflow-y: auto;
            max-height: 100%;
            width: 100px;
            ul {
                border-right: 4px solid $dominant;
                padding: 0px;
                margin-bottom: 0px;
                li {
                    padding: 5px 8px;
                    list-style: none;
                    cursor: pointer;
                    text-align: center;
                    &.loaded {
                        background-color: #ECECEC;
                        border-left: 3px solid $dominant;
                    }
                    &.current {
                        font-weight: 600;
                    }
                    .fa {
                        color: $dominant;
                    }
                    &:hover {
                        background-color: #DCDCDC;
                        .pageNumber {
                            border-bottom: 2px solid $dominant;
                        }
                    }
                }
            }
        }
    }
    .content {
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
     .manual-loader {
        background-color: white;
        font-size: 20px;
        padding: 10px;
        width: 50%;
        min-width: 250px;
        margin: 0px auto;
        text-align: center;
        &:hover {
            cursor: pointer;
            span {
                border-bottom: 2px solid $dominant;
            }
        }
     }
}

.address-setter {
    .input-wrapper {
        padding-right: 32px;
    }
    .validation {
        font-size: 30px;
        color: #41BB07;
        float: right;
        margin-top: 4px;
    }
}