@import "globals.scss";

body {
    background-color: white;
    font-family: 'Open Sans', arial, sans-serif;
}

h1 {
    margin: 0px;
}

a {
    color: #444;
    text-decoration: none;
}

.clear {
    content: " ";
    display: block;
    clear: both;
}

.hidden {
    display: none;
}

$changingPageTime: 0.3s;
body {
    overflow-x: hidden;
    max-height: 100%;
    #container {
        flex-grow: 1;
        background: $ligth;
        position: relative;
        display: flex;
        [ng-view] {
            width: 100%;
            overflow-y: auto;
            position: relative;
            &.ng-leave {
                @include transition($changingPageTime);
                opacity: 1;
            }
            &.ng-enter {
                @include transition($changingPageTime);
                @include transition-delay($changingPageTime);
                opacity: 0;
            }
            &.ng-leave-active {
                opacity: 0;
            }
            &.ng-enter-active {
                opacity: 1;
            }
        }
    }
    header {
        min-height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 4px;
        background-color: $dark;
        z-index: 15;
        border-bottom: $border-width solid $dominant;
        box-shadow: 0px 0px 30px #383838;
        img {
            float: left;
            height: $header-height;
        }
        h1 {
            float: left;
            margin-top: 7px;
        }
        .addOfferBtn {
            position: relative;
            float: right;
            margin-right: 40px;
        }
        .addOfferGreen {
            @include gradient-background($greenGradient);
            font-size: 19px;
            color: rgb(97, 173, 255);
            padding: 10px 30px;
            top: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 6px #888;
            width: 185px;
            text-align: center;
            &:hover {
                @include gradient-background($yellowGradient);
                text-decoration: none;
            }
        }
    }
    footer {
        min-height: $footer-height;
        background-color: $dark;
        border-top: $border-width solid $dominant;
        padding: 5px;
        text-align: center;
        box-shadow: 0px 0px 30px #383838;
        z-index: 1;
        a {
            padding: 0 45px;
        }
    }
}

.main-menu {
    float: left;
    li {
        list-style-type: none;
        float: left;
        padding: 0px 10px;
    }
}

.editing {
    text-decoration: none;
    color: $link-color;
    border-bottom: dashed 1px $link-color;
    cursor: pointer;
    min-width: 20px;
    min-height: 15px;
    display: inline-block;
}

.flex {
    display: flex;
}

.right {
    float: right;
}

.left {
    float: left;
}

.message {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

md-sidenav {
    z-index: 100;
}