@import "susy";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "mixins.scss";

$header-height: 60px;
$footer-height: 35px;
$border-width: 4px;

$google-plus-color: #DE4B39;
$facebook-color: #3B5998;

$link-color: #428bca;

$total-columns  : 12;
$column-width   : 18em;
$gutter-width   : 0em;
$grid-padding   : $gutter-width;

$dark: #E7E7E7;
$ligth: #FBFBFB;

$background: #BBB, #777, #777, #BBB;

$ligthGradient: #FFF, #EEE;
$darkGradient: #CCC, #F0F0F0;
$veryDarkGradient: #BBB, #999;

$greenGradient: rgb(130, 228, 84), rgb(219, 255, 174);
$greenYellowGradient: rgb(255, 245, 220), #779C78;
$yellowGradient: white, rgb(255, 245, 220);
$darkGreenGradient: #EEE, #779C78;

$dominant: #d31919;
$success: rgb(13, 158, 0);

$break-small: 320px;
$break-medium: 600px;
$break-bigger: 800px;
$break-big: 1200px;
$break-add-offer: 450px;

$button-secondary-color: white;
$button-background-color: rgba(255, 255, 255, 1);
$button-submit-color: rgb(40, 152, 42);
$button-call-to-action-color: rgb(71, 126, 191);;
