@import "mixins.scss";
@import "susy";
@import "compass/css3/transition";
@import "compass/css3/transform";

$total-columns  : 12;
$column-width   : 10em;
$gutter-width   : 0.5em;
$grid-padding   : $gutter-width;

$dark: #CCC;
$ligth: #EEE;

$background: #BBB, #777, #777, #BBB;

$greenGradient: rgb(130, 228, 84), rgb(219, 255, 174);
$ligthGradient: #FFF, #EEE;
$yellowGradient: white, rgb(255, 245, 220);
$darkGreenGradient: #EEE, #779C78;
$darkGradient: #F0F0F0, #CCC;

$break-small: 320px;
$break-medium: 600px;
$break-bigger: 800px;
$break-big: 1200px;
$break-add-vendor: 450px;

html {
    font-family: 'Open Sans', arial,sans-serif;
}

body {
    @include gradient-background($background);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0px;
}


#container {
    @include container;
    @include border-box-sizing;
    margin-top: 85px;
    margin-bottom: 45px;
    overflow: hidden;

    @media screen and (max-width: $break-medium) {
        margin-top: 0px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 5px;
    }


    .content {

        #view {
            position: relative;
            margin-top: 6px;

            &.ng-leave {
                @include transition(0.5s);
                left: 0;
            }

            &.ng-enter {
                @include transition(0.5s);
                @include transition-delay(0.5s);
                left: -100%;
            }

            &.ng-leave-active {
                left: 100%;
            }

            &.ng-enter-active {
                left: 0;
            }
        }

    }
}


header {
    clear: both;
    background-color: $ligth;
    padding: 10px;
    position: fixed;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 0px 10px #383838;
    width: 100%;

    @media screen and (max-width: $break-medium) {
        position: inherit;
        width: auto;
    }

    img {
        float: left;
        height: 60px;
    }

    h1 {
        float: left;
        margin-top: 7px;

        @media screen and (max-width: $break-add-vendor) {
            float: none;
        }
    }

    #addVendor {
        @include gradient-background($greenGradient);
        font-size: 19px;
        color: rgb(97, 173, 255);
        padding: 10px 30px;
        position: relative;
        float: right;
        top: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px #888;
        margin-right: 40px;
        width: 125px;
        text-align: center;

        &:hover {
            @include gradient-background($yellowGradient);
            text-decoration: none;
        }

        @media screen and (max-width: $break-add-vendor) {
            display: block;
            white-space: nowrap;
        }
    }
}


footer {
    clear: both;
    background-color: $dark;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #383838;
    position: fixed;
    bottom: 0px;
    width: 100%;

    @media screen and (max-width: $break-medium) {
        position: inherit;
        width: auto;
    }

    a {
        padding: 0 45px;
    }
}


.address-viewer {
    width: 230px;
    height: 230px;

    @media screen and (max-width: $break-medium) {
        width: 190px;
        height: 190px;
    }
}


$create-edit-navigation-height: 41px;
article#create-edit {
    background: $ligth;
    border: 1px solid;

    section {

        &.ng-leave {
            @include transition(0.5s);
            opacity: 1;
        }

        &.ng-enter {
            @include transition(0.5s);
            @include transition-delay(0.5s);
            opacity: 0;
        }

        &.ng-leave-active {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }

        #address-form {

            #address-incorrect {
                color: red;
            }

            #address-correct {
                color: green;
            }

            #validating-address {
                color: gray;
            }
        }
    }

    #navigation {
        height: $create-edit-navigation-height;
        width: 100%;
        display: table;
        border-spacing: 7px 0px;
        margin-bottom: 10px;
        padding-top: 5px;

        li {
            @include span-columns(1, 6);
            float: none;
            margin: 11px;
            padding: 0px;
            @include gradient-background($darkGradient);
            cursor: pointer;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            height: $create-edit-navigation-height;
            border: 1px solid;
            border-bottom: none;

            @media screen and (max-width: $break-medium) {
                @include span-columns(1, 1);
                margin: 0;
                height: 35px;
                padding-top: 6px;
                font-weight: bold;
                font-size: 20px;
            }

            &:hover {
                @include gradient-background($yellowGradient);
            }

            &.selected {
                @include gradient-background($ligthGradient);
            }
        }
    }
}


section#categories {

    .checkbox-list {
        display: none;

        @media screen and (max-width: $break-bigger) {
            display: block;
        }
    }

    .full-list {

        @media screen and (max-width: $break-bigger) {
            display: none;
        }

        li {
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
            width: 55px;
            @include gradient-background($darkGradient);
            cursor: pointer;
            list-style: none;

            &:hover {
                @include gradient-background($yellowGradient);
            }

            &.selected {
                @include gradient-background($darkGreenGradient);
            }

            img {
                height: 40px;
                margin-left: 9px;
                margin-top: 2px;
            }

            h6 {
                text-align: center;
                font-size: 10px;
                margin: 0px;
            }
        }
    }
}


#categories-view {
    @include span-columns(2);

    @media screen and (max-width: $break-big) {
        @include span-columns(3);
    }

    @media screen and (max-width: $break-bigger) {
        @include span-columns(12 omega);
    }

    #categories {

        select {
            width: 100%;
        }

        li {
            width: 100%;

            img {
                float: left;
            }

            h6 {
                font-size: 20px;
                margin: 10px;
            }
        }
    }
}

.vendor-page {
    background: $ligth;
    border: 1px solid;
    padding: 10px;
    width: 100%;
    @include span-columns(7);

    @media screen and (max-width: $break-big) {
        @include span-columns(9 omega);
    }

    @media screen and (max-width: $break-bigger) {
        @include span-columns(12 omega);
    }

    .navigation {
        a {
            padding: 0 10px;
            float: right;

            &:first-child {
                float: left;
            }
        }
    }
}

.related-vendors {
    @include span-columns(3 omega);

    @media screen and (max-width: $break-big) {
        @include span-columns(9 omega);
    }

    @media screen and (max-width: $break-bigger) {
        @include span-columns(12 omega);
    }
}

#vendor {
    padding: 10px;
}

#vendor-list {
    @include span-columns(10 omega);

    @media screen and (max-width: $break-big) {
        @include span-columns(9 omega);
    }

    @media screen and (max-width: $break-bigger) {
        @include span-columns(12 omega);
    }

    .vendor-preview {
        @include span-columns(5 omega, 10);

        @media screen and (max-width: $break-big) {
            @include span-columns(9 omega, 9);
        }

        @media screen and (max-width: $break-bigger) {
            @include span-columns(12 omega);
        }
    }

    .loading-message {
        @include span-columns(12 omega);
        text-align: center;

        span {
            font-size: 40px;
            line-height: 60px;
            color: white;
        }
    }
}

.vendor-preview {
    height: 140px;
    @include gradient-background($darkGradient);
    border: 1px solid;
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: $break-small) {
        height: auto;
        max-height: 300px;
        text-align: center;
    }

    &:hover {
        @include gradient-background($yellowGradient);
    }

    &.ng-enter, &.ng-move {
        @include transition(0.3s linear all);
        opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-move.ng-move-active {
        opacity: 1;
    }

    &.ng-move-stagger,
    &.ng-enter-stagger {
        @include transition-delay(0.1s);
        @include transition-duration(0s);
    }

    img {
        width: 130px;
        margin-top: 10px;
        float: left;

        @media screen and (max-width: $break-small) {
            float: none;
        }
    }

    h2 {
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }

    h3 {
        font-size: 16px;
        margin-top: -18px;
        padding: 0px;
    }

    p {
        font-size: 13px;
        margin-top: -12px;

        @media screen and (max-width: $break-small) {
            text-align: left;
        }
    }
}


$galleryHeigth: 500px;
.gallery {
    max-height: $galleryHeigth;
    margin: 10px auto;
    text-align: center;
    border: 2px solid;

    @include perspective(1000px);
    @include transform-style(preserve-3d);


    .gallery-wrapper {
        width: 100%;
        padding-bottom: 75%;

        .slide {
            position: absolute;
            max-height: $galleryHeigth;
            width: 100%;

            div {
                position: relative;

                img {
                    max-height: $galleryHeigth;
                }
            }
        }

        .slide.ng-hide-add {
            display:block!important;
            opacity:1;
            @include transition(1s linear all);
            @include transform-origin(right top 0);
        }
        .slide.ng-hide-add.ng-hide-add-active {
            @include transform(rotateX(50deg) rotateY(30deg));
            opacity:0;
        }
        .slide.ng-hide-remove {
            @include transition(1s linear all);
            display:block!important;
            opacity:0;
        }
        .slide, .slide.ng-hide-remove.ng-hide-remove-active {
            opacity:1;
        }

        .arrow {
            position: absolute;
            height: 64px;
            width: 64px;
            margin-top: -35px;
            top: 50%;
            opacity: 0.2;
            cursor: pointer;

            &:hover {
                opacity:1;
            }

            &.prev {
                background-image: url("/static/images/prev.png");
                left: 20px;
                transition: all 0.2s linear 0s;
            }

            &.next {
                background-image: url("/static/images/next.png");
                right: 20px;
                transition: all 0.2s linear 0s;
            }
        }

        .nav {
            bottom: -15px;
            position: absolute;
            width: 100%;

            li {
                border: 5px solid #AAAAAA;
                border-radius: 5px;
                cursor: pointer;
                display: inline-block;
                margin: 0 8px;
                width: 60px;

                &.active {
                    border: 5px solid #FFFFFF;
                }
            }
        }
    }
}

#search-view {
    background: $dark;
}


#admin-panel {
    $column-width: 3em;
    @include container;
    @include border-box-sizing;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px #999 solid;
    background-color: $ligth;
    padding: 15px;

    label {
        @include span-columns(4, 12, 0.0em);
        text-align: right;
        line-height: 30px;
        font-weight: bold;
    }

    input, strong {
        @include span-columns(8 omega);
        height: 30px;
    }

    .alert {
        @include span-columns(12);
        margin-top: 10px;
    }

    .btn-wrapper {
        @include span-columns(12);

        .btn {
            float: right;
        }
    }
}