@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($args) {
  -webkit-transition:$args;
     -moz-transition:$args;
       -o-transition:$args;
          transition:$args;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
            transition-delay: $delay;
}

@mixin transition-duration($duration) {
    -webkit-transition-duration:$duration;
            transition-duration:$duration;
}

html {
    font-family: 'Open Sans',arial,sans-serif;
}

$greenGradient: linear-gradient(0, rgb(130, 228, 84), rgb(219, 255, 174));
$yellowGradient: linear-gradient(0, rgb(230, 235, 107), white);
$bluishGradient: linear-gradient(0, azure, rgb(197, 247, 211));

#container {
    width: 100%;
    background: white;
    border: 1px solid;
    padding-bottom: 10px;

    #wrapper {
        margin: 0px auto;
        width: 800px;
    }

    #view {
        position: relative;
        margin-top: 6px;

        &.ng-leave {
            @include transition(0.5s);
            left: 0;
        }

        &.ng-enter {
            @include transition(0.5s);
            @include transition-delay(0.5s);
            left: -100%;
        }

        &.ng-leave-active {
            left: 100%;
        }

        &.ng-enter-active {
            left: 0;
        }
    }
}

.clear {
    clear: both;
}

.address-viewer {
    width: 230px;
    height: 230px;
}

$create-edit-navigation-height: 41px;
article#create-edit {
    background: azure;
    border: 1px solid;

    section {

        &.ng-leave {
            @include transition(0.5s);
            opacity: 1;
        }

        &.ng-enter {
            @include transition(0.5s);
            @include transition-delay(0.5s);
            opacity: 0;
        }

        &.ng-leave-active {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }

        #address-form {

            #address-incorrect {
                color: red;
            }

            #address-correct {
                color: green;
            }

            #validating-address {
                color: gray;
            }
        }
    }

    #navigation {
        height: $create-edit-navigation-height;
        display: table;
        border-spacing: 7px 0px;
        margin-bottom: 10px;
        padding-top: 5px;

        li {
            width: 106px;
            margin: 11px;
            padding: 0px;
            background: $greenGradient;
cursor: pointer;
            cursor: pointer;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            height: $create-edit-navigation-height;
            border: 1px solid;
            border-bottom: none;

            &:hover {
                background: $yellowGradient;
            }

            &.selected {
                background: $bluishGradient;
            }
        }
    }
}

section#categories {
    margin-top: 5px;

    li {
        float: left;
        margin-right: 10px;
        width: 55px;
        background: $bluishGradient;
        border-radius: 10px;
        box-shadow: 0px 0px 6px #888;
        cursor: pointer;

        &:hover {
            background: $yellowGradient;
        }

        &.selected {
            background: $greenGradient;
        }

        img {
            height: 40px;
            margin-left: 9px;
            margin-top: 2px;
        }

        h6 {
            text-align: center;
            font-size: 10px;
            margin: 0px;
        }
    }

    #addVendor {
        background: $greenGradient;
        font-size: 19px;
        color: rgb(97, 173, 255);
        padding: 10px 30px;
        position: relative;
        float: right;
        top: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px #888;

        &:hover {
            background: $yellowGradient;
            text-decoration: none;
        }
    }
}

section#vendor {
    background: azure;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.vendor-preview {
    height: 140px;
    background: $bluishGradient;
    border: 1px solid;
    margin: 5px 0px;
    padding: 0px 5px 0px 0px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover {
        background: $yellowGradient;
    }

    &.ng-enter, &.ng-move {
        @include transition(0.3s linear all);
        opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-move.ng-move-active {
        opacity: 1;
    }

    &.ng-move-stagger,
    &.ng-enter-stagger {
        @include transition-delay(0.1s);
        @include transition-duration(0s);
    }

    img {
        width: 130px;
        margin-top: 10px;
        float: left;
    }

    h2 {
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }

    h3 {
        font-size: 16px;
        margin-top: -18px;
        padding: 0px;
    }

    p {
        font-size: 13px;
        margin-top: -12px;
    }
}
