@mixin gradient-background($colors) {
    background: -webkit-linear-gradient($colors);
    background: -o-linear-gradient($colors);
    background: -moz-linear-gradient($colors);
    background: linear-gradient($colors);
}

@mixin ng-show($maxHeight, $time) {
    &.ng-hide-add {
        @include transition($time);
        display: block !important;
        @include transform-origin(right top 0);
        @include transform(scaleY(1));
        // max-height: $maxHeight;
    }
    &.ng-hide-add-active {
        @include transform-origin(right top 0);
        @include transform(scaleY(0));
        // max-height: 0px;
    }
    &.ng-hide-remove {
        @include transition($time);
        display: block !important;
        @include transform(scaleY(0));
        @include transform-origin(right top 0);
        // max-height: 0px;
    }
    &.ng-hide-remove-active {
        @include transform-origin(right top 0);
        @include transform(scaleY(1));
        // max-height: $maxHeight;
    }
}

// .slideDownScale {
//     @include transition(0.5s);
//     @include transform-origin(right top 0);
//     @include transform(scaleY(1));
// }

// .slideUpScale {
//     @include transition(0.5s);
//     @include transform-origin(right top 0);
//     @include transform(scaleY(0));
// }
