@mixin gradient-background($colors) {
    background: -webkit-linear-gradient($colors);
    background: -o-linear-gradient($colors);
    background: -moz-linear-gradient($colors);
    background: linear-gradient($colors);
}

@mixin ng-show($maxHeight, $time) {
    &.ng-hide-add {
        @include transition($time);
        display: block !important;
        @include transform-origin(right top 0);
        @include transform(scaleY(1));
    }
    &.ng-hide-add-active {
        @include transform-origin(right top 0);
        @include transform(scaleY(0));
    }
    &.ng-hide-remove {
        @include transition($time);
        display: block !important;
        @include transform(scaleY(0));
        @include transform-origin(right top 0);
    }
    &.ng-hide-remove-active {
        @include transform-origin(right top 0);
        @include transform(scaleY(1));
    }
}

@mixin button-color($color) {
    &.md-default-theme {
        color: $color;
        border-color: $color;
        &:not([disabled]):hover {
            color: $button-secondary-color;
            background-color: $color;
        }
    }
}
