@import "globals.scss";

$searchBoxWidth: 300px;

$create-edit-navigation-height: 41px;
article#create-edit {
    background: $ligth;
    border: 1px solid;

    section {

        &.ng-leave {
            @include transition(0.5s);
            opacity: 1;
        }

        &.ng-enter {
            @include transition(0.5s);
            @include transition-delay(0.5s);
            opacity: 0;
        }

        &.ng-leave-active {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }

        #address-form {

            #address-incorrect {
                color: red;
            }

            #address-correct {
                color: green;
            }

            #validating-address {
                color: gray;
            }
        }
    }

    #navigation {
        height: $create-edit-navigation-height;
        width: 100%;
        display: table;
        border-spacing: 7px 0px;
        margin-bottom: 10px;
        padding-top: 5px;
        li {
            @include span-columns(1, 6);
            float: none;
            margin: 11px;
            padding: 0px;
            @include gradient-background($darkGradient);
            cursor: pointer;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            height: $create-edit-navigation-height;
            border: 1px solid;
            border-bottom: none;
            &:hover {
                @include gradient-background($yellowGradient);
            }
            &.selected {
                @include gradient-background($ligthGradient);
            }
        }
    }
}

section#categories {
    .checkbox-list {
        display: none;
    }
    .full-list {
        li {
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
            width: 55px;
            @include gradient-background($darkGradient);
            cursor: pointer;
            list-style: none;
            &:hover {
                @include gradient-background($yellowGradient);
            }
            &.selected {
                @include gradient-background($darkGreenGradient);
            }
            img {
                height: 40px;
                margin-left: 9px;
                margin-top: 2px;
            }
            h6 {
                text-align: center;
                font-size: 10px;
                margin: 0px;
            }
        }
    }
}

#categories-view {
    @include span-columns(2);
    #categories {
        select {
            width: 100%;
        }
        li {
            width: 100%;
            img {
                float: left;
            }
            h6 {
                font-size: 20px;
                margin: 10px;
            }
        }
    }
}

$relatedOffersWidth: 496px;
$mapAndGallerySize: 350px;
.offer-page {
    background: $ligth;
    border-right: 3px solid $dominant;
    padding: 10px;
    width: calc(100% - #{$relatedOffersWidth});
    height: calc(100% - #{$header-height} - #{$footer-height});
    float: left;
    overflow-y: auto;
    .navigation {
        border-bottom: 2px solid $dominant;
        overflow: hidden;
        p.title {
            float: left;
            font-size: 35px;
            font-weight: 300;
        }
        pebutton {
            padding: 0 10px;
            float: right;

            &:first-child {
                float: left;
            }
        }
    }
    #offer {
        padding: 0px 10px;
        .description {
            padding: 15px;
            font-size: 17px;
            line-height: 1.6em;
            margin-top: 20px;
        }
        .details {
            float: left;
            width: calc(100% - #{$mapAndGallerySize} - 20px);
            .fields {
                padding: 15px;
            }
        }
        .widgets {
            float: right;
            width: $mapAndGallerySize;
            .address-viewer {
                margin-bottom: 20px;
                .map {
                    width: $mapAndGallerySize;
                    height: $mapAndGallerySize;
                }
            }
            gallery-preview {
                .galleryPreview {
                    width: $mapAndGallerySize;
                }
            }
        }
    }
}
.related-offers {
    width: $relatedOffersWidth;
    padding: 10px;
    float: right;
    overflow-y: auto;
    height: calc(100% - #{$header-height} - #{$footer-height});
    h3 {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 300;
    }
}

#searchView {
    .offer-list {
        width: calc(100% - #{$searchBoxWidth} - 10px);
        float: right;
        margin-right: 10px;
        .offer-preview-wrapper {
            @include span-columns(2, 12);
        }
        .loading-message {
            @include span-columns(12 omega);
            text-align: center;
            span {
                font-size: 40px;
                line-height: 60px;
                color: white;
            }
        }
    }
}

$offer-preview-width: 210px;
$offer-preview-height: 250px;
$offer-preview-top-border: 4px;
$offer-preview-bottom-border: 6px;
offerpreview {
    &.ng-leave {
        @include transition(0.5s);
        opacity: 1;
    }

    &.ng-enter {
        @include transition(0.5s);
        opacity: 0;
    }

    &.ng-enter-stagger {
        @include transition(0);
        @include transition-delay(0.05s);
    }

    &.ng-leave-active {
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
    .offer-preview-wrapper {
        min-width: $offer-preview-width;
        max-width: $offer-preview-width;
        width: $offer-preview-width;
        height: $offer-preview-height;
        position: relative;
        margin: 10px;
        box-shadow: 0 0 5px black;
        float: left;
        &:hover {
            @include transition(0.3s);
            @include scale(1.1);
            box-shadow: 0 0 30px black;
        }
        .offer-preview {
            width: 100%;
            height: $offer-preview-height - $offer-preview-bottom-border;
            background-color: white;
            cursor: pointer;
            border-top: $offer-preview-top-border solid $dominant;
            overflow: hidden;
            .content {
                position: absolute;
                padding: 5px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                &.top {
                    font-size: 20px;
                }
                &.bottom {
                    bottom: 0px;
                    .city {
                        font-size: 15px;
                    }
                    .price {
                        float: right;
                        margin-right: 15px;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                float: left;
            }
        }
    }
}

#search-view-wrapper {
    height: calc(100% - #{$header-height} - #{$footer-height});
    position: fixed;
    z-index: 10;
    width: $searchBoxWidth;
    border-right: 4px solid $dominant;
    #search-view {
        background: white;
        #searchButton {
            float: right;
        }
        .formTitle {
            font-size: 23px;
            text-align: center;
            border-top: 5px solid $dominant;
            margin-bottom: -7px;
        }
        .searchField {
            padding: 3px;
            padding-right: 50px;
            margin-top: 3px;
            height: 50px;
            input {
                width: 100%;
                margin-top: 4px;
            }
        }
        .searchFilter {
            text-align: center;
            background-color: $dominant;
            color: white;
            padding: 3px;
            font-size: 17px;
            cursor: pointer;
            border-top: 2px solid $button-primary-color;
            padding-left: 40px;
            &:hover {
                @include transition(0.5s);
                text-decoration: none;
                background-color: $button-secondary-color;
                color: $button-primary-color;
            }
            .fa {
                padding: 0px 10px;
                font-size: 20px;
                &:last-child {
                    float: right;
                }
            }
        }
        .formField {
            padding: 5px 5px;
            border-top: 2px solid $dominant;
            text-align: center;
            input {
                width: 100%;
                margin-top: 3px;
            }
            .ui-slider {
                margin: 3px 7px;
            }
            &:last-child {
                padding: 0px;
            }
        }
        input {
            height: 35px;
            padding-left: 7px;
        }
        .price {
            input {
                width: 50px;
                height: 25px;
            }
        }
        addressviewer {
            &.bigAddressViewer {
                .address-viewer .map {
                    width: 1000px;
                    height: 600px;
                    border: 4px solid $dominant;
                    border-left: none;
                    @include transition(0.5s);
                }
            }
            &.smallAddressViewer {
                .address-viewer {
                    width: 100%;
                    height: 300px;
                    @include transition(0.5s);
                }
            }
        }
    }
}

#user-profile {
    @include border-box-sizing;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px #999 solid;
    background-color: $ligth;
    padding: 15px;
}

#logging {
    float: right;
    margin-right: 20px;
    margin-top: 4px;
    .login-menu {
        position: absolute;
        right: 20px;
        width: 245px;
        background-color: white;
        padding: 7px 0px;
        text-align: center;
        border: 2px solid $dominant;
        a {
            width: 220px;
        }

        &.ng-leave {
            @include transition(0.5s);
            opacity: 1;
        }

        &.ng-enter {
            @include transition(0.5s);
            @include transition-delay(0.5s);
            opacity: 0;
        }

        &.ng-leave-active {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }
    }
}

.login-form {
    .register {
        border-bottom: 2px solid $dominant;
        padding-bottom: 9px;
        margin-bottom: 9px;
    }
    .login-error {
        color: $dominant;
    }
    .login-success {
        color: $success;
    }
    .login-link {
        display: block;
        cursor: pointer;
        font-size: 17px;
        width: 100% !important;
        padding: 2px;
        color: $dominant;
    }
    input {
        height: 30px;
        width: 220px;
        padding-left: 5px;
        margin: 5px 0px;
    }
    h4 {
        padding-top: 9px;
        &:first-of-type {
            border-top: 2px solid $dominant;
        }
    }
}

#registrationLandingPage {
    background-color: white;
    max-width: 1300px;
    margin: 0px auto;
    section {
        float: left;
        width: 23%;
        margin: 20px;
        &:last-of-type {
            width: 220px;
        }
        .icon-header {
            width: 100%;
            text-align: center;
            font-size: 60px;
        }
    }
}

#change-password-from-recall {
    margin: 0px auto;
    width: 250px;
    background: white;
    padding: 10px;
}

#promoted-offers {
    margin-right: 5px !important;
    @include span-columns(10 omega);
    .flex-control-nav {
        top: -30px;
        height: 11px;
    }
    .category {
        background-color: white;
    }
}

#user-profile {
    background-color: white;
    max-width: 1000px;
    #likings-view {
        .category {
            overflow: hidden;
            border: 1px black solid;
            border-radius: 40px;
            background-color: rgb(247, 251, 255);
            margin: 10px;
            h1 {
                font-size: 35px;
                text-align: center;
                text-shadow: 1px 1px 5px black;
                color: white;
            }
            .liking {
                float: left;
                padding: 10px;
                text-align: center;
                height: 130px;
                img {
                    width: 85px;
                    height: 85px;
                    border-radius: 45px;
                    border: 1px black solid;
                    right: -16px;
                    position: relative;
                }
                p {
                    position: relative;
                    bottom: 28px;
                    text-shadow: 0px 0px 9px rgb(127, 127, 127);
                    color: rgb(1, 1, 1);
                    font-size: 15px;
                }
                .level {
                    font-size: 30px;
                    position: relative;
                    top: -26px;
                }
                &:hover {
                    cursor: pointer;
                    img {
                        @include transition(0.5s);
                        @include transform(scale(1.08) rotate(25deg));
                    }
                    .level-chooser {
                        @include transition(0.5s);
                        opacity: 1;
                    }
                    .level {
                        @include transition(0.5s);
                        opacity: 0;
                    }
                }
                .level-chooser {
                    opacity: 0;
                    position: relative;
                    top: -89px;
                    font-size: 25px;
                    background-color: rgb(255, 252, 245);
                    border-radius: 20px;
                    border: 1px black solid;
                    line-height: 25px;
                    margin: 0px auto;
                    padding: 2px;
                    .fa:hover {
                        @include transition(0.3s);
                        @include scale(1.15);
                    }
                    .current-level {
                        text-shadow: 0px 0px 10px;
                    }
                }
                .fa-frown-o {
                    color: red;
                }
                .fa-meh-o {
                    color: black;
                }
                .fa-smile-o {
                    color: green;
                }
                .fa-heart {
                    color: red;
                }
            }
        }
    }
}

#home-page{
    background-color: white;
    overflow: hidden;
    padding: 50px;
    .address-viewer {
        @include span-columns(1, 2);
        float: left;
        height: 300px;
        width: 500px;
    }
    section {
        @include span-columns(1, 2);
        float: right;
    }
}
