@media (min-width: 1200px) {
	.related-offers {
    	max-width: 600px;
    	min-width: 600px;
    	margin: 0px;
    	border-left: 3px solid $dominant;
    	height: calc(100% - #{$header-height} - #{$footer-height} - 1px);
    	.title {
    		min-height: 33px;
    	}
	}
	.offer-page {
    	height: calc(100% - #{$header-height} - #{$footer-height} - 1px);
    	overflow: auto;
	}
}

@media (min-width: 960px) {
	#offer .details .data .widget {
		width: 50%;
	}
}

@media (max-width: 960px) {
	body footer a {
		padding: 0px 7px;
	}
	#search-view-wrapper {
		border-right: none;
	}
	offerpreview {
		margin: 15px 0px;
	}
}

@media (max-width: 600px) {
	body {
		max-height: none;
		height: auto;
		#container {
			display: block;
		}
	}
	.widget {
		margin: 0px;
	}
	.offer-page {
		padding: 0;
		.gallery-preview {
			width: 100%;
		}
	}
	offerpreview {
		margin: 5px 0px;
		.author {
			display: none;
		}
		.widget {
			.data {
				padding: 0px 10px
			}
			> img {
				min-height: 70px;
				min-width: 70px;
				max-height: 70px;
				max-width: 70px;
				margin: 0px;
			}
		}
	}
	.related-offers {
		padding: 0px;
		margin: 5px 0px;
	}

	#likings-view {
		ul.categories {
			margin: 0px;
			li {
				width: 100%;
				margin: 0px;
			}
		}
	}
	md-input-group {
		width: 100%;
	}
	md-dialog.md-default-theme {
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		position: fixed;
		bottom: 0px;
		left: 0px;
		border: 3px solid gray;
		max-height: 100%;
		.md-subheader {
			font-size: 25px;
		}
		md-content {
			padding: 10px;
		}
	}
	.loginModal, .registrationModal, .remindPasswordModal {
		p {
			margin: 0px;
		}
		form {
			margin: 0px;
		}
    	.md-button.submit-button {
        	margin-top: 5px;
    	}
    	.fa-facebook {
    		margin-bottom: 10px;
    	}
    }
    md-sidenav {
    	width: 250px;
		min-width: 250px;
    }
    #user-profile-tabs {
    	#user-profile, .settings, .login-form {
    		padding: 0px 10px;
    	}
    }
	.gallery-modal {
		.md-subheader.md-default-theme  {
			font-size: 15px;
			padding: 4px;
			.modal-close {
            	top: 4px;
            }
		}
		height: 100%;
		gallery {
			li .description {
				font-size: 13px;
			}
			.gallery li .image {
				height: 280px;
			}
		}
	}
}
