@media (min-width: 1200px) {
	.related-offers {
    	max-width: 600px;
    	min-width: 600px;
    	border-left: 3px solid $dominant;
    	height: calc(100% - #{$header-height} - #{$footer-height} - 2 * #{$border-width});
    	overflow: auto;
	}
	.offer-page {
    	height: calc(100% - #{$header-height} - #{$footer-height} - 2 * #{$border-width});
    	overflow: auto;
	}
}

@media (min-width: 960px) {
	#offer .details .data .widget {
		width: 50%;
	}
}

@media (max-width: 960px) {
	body footer a {
		padding: 0px 7px;
	}
	#search-view-wrapper {
		border-right: none;
	}
	offerpreview {
		margin: 15px 0px;
	}
}

@media (max-width: 600px) {
	body {
		max-height: none;
		height: auto;
		#container {
			display: block;
		}
	}
	.widget {
		margin: 0px;
	}
	.offer-page {
		padding: 0;
		.gallery-preview {
			width: 100%;
		}
	}
	offerpreview {
		margin: 5px 0px;
		.author {
			display: none;
		}
		.widget {
			.data {
				padding: 0px 10px
			}
			> img {
				min-height: 70px;
				min-width: 70px;
				max-height: 70px;
				max-width: 70px;
				margin: 0px;
			}
		}
	}
	.related-offers {
		padding: 0px;
		margin: 5px 0px;
	}

	#likings-view {
		ul.categories {
			margin: 0px;
			li {
				width: 100%;
				margin: 0px;
			}
		}
	}
}
