<section id="categories" ng-controller="CategoriesController">
    <div class="checkbox-list">
        <select ng-options="c.name for c in categories" ng-change="searchCategory()" ng-model="selectedCategory"/><br />
    </div>

    <ul class="full-list">
        <a href="#/vendors/{{ category.id }}" ng-repeat="category in categories">
            <li ng-class="{ selected: selectedCategory.id == category.id }">
                <img ng-src="{{ category.icon_path }}" alt="Category icon">
                <h6>{{ category.name }}</h6>
            </li>
        </a>
    </ul>

</section>
