<div id="logging" ng-controller="AccountController">
    <div ng-show="loggedUser != undefined"</div>
        <a ng-click="goToProfile()">{{ loggedUser.name }}</a>
        <a class="login-icon fa fa-sign-out" href="/logout" ng-click="logout()"><span class="login-text">Wyloguj</span></a>
    </div>
    <span ng-show="loggedUser == undefined">
        <a class="login-icon fa fa-google-plus" href="/login/google" />
        <a class="login-icon fa fa-facebook" href="/login/facebook"/>
    </span>
</div>
