adasdasd

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quae, deserunt ipsam atque unde repellendus voluptas perspiciatis corporis soluta perferendis quis praesentium cupiditate vel voluptate a. Ut, sequi ea repellat.</div>

<div ng-include="categoriesView"></div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, ipsa eligendi sequi laboriosam repudiandae explicabo expedita optio mollitia quo non quis voluptas iusto laudantium quisquam obcaecati itaque quas cumque dicta.</div>
<div>Amet, numquam adipisci error commodi sint dignissimos ratione. Modi, ab, ducimus, officiis culpa natus optio mollitia labore animi libero nesciunt sapiente magni dignissimos accusamus ipsam reiciendis. Voluptates consequuntur cum dolorem.</div>
<div>Odit, reiciendis, sed nulla consequatur quia vero numquam saepe assumenda doloremque corrupti excepturi dolor ipsam quam velit nihil eum impedit fuga quidem amet nobis voluptas ratione tempora perspiciatis modi distinctio.</div>
<div>Dolore, possimus officia veniam rem ullam quia totam cumque tempora necessitatibus! Aliquam soluta eaque unde repudiandae. Cumque, atque, sint, sequi, recusandae asperiores fugit praesentium expedita deleniti minus quod quam autem.</div>
<div>Hic, ducimus, voluptatibus consequatur ipsa provident fuga mollitia et excepturi illo harum ea ut tempora doloremque minus nihil est tenetur quas dolore optio ipsam repudiandae corrupti cumque cum exercitationem obcaecati!</div>
