<section ng-controller="NavigationActionsController">

	<a href="/offers/new" id="add-offer-button">
		<md-button class="fa fa-plus call-to-action-button">
		    Dodaj ofertę
		</md-button>
	</a>
	<md-button ng-if="!account" class="fa fa-rocket submit-button" ng-click="showRegistrationForm()">
	    Zarejestruj się
	</md-button>
	<md-button ng-if="!account" class="fa fa-sign-in" ng-click="showLoginForm()">
	    Zaloguj się
	</md-button>
	<md-button ng-if="account" class="fa fa-reorder" ng-click="toogleMenu()">
	    {{ account.name }}
	</md-button>

</section>
