<section id="offer">
    <div class="details">
        <div class="fields widget">
            <label>Kategoria:</label>
            <span class="value">{{ offer.category.name }}</span><br />

            <label>Cena:</label>
            <span class="value">{{ offer.price_min }}zł - {{ offer.price_max }}zł</span><br />

            <label>Dodano:</label>
            <span class="value">{{ offer.added_at }}</span><br />

            <label>Ostatnia zmiana:</label>
            <span class="value">{{ offer.updated_at }}</span><br />
        </div>

        <li ng-repeat="contact in offer.contacts">
            {{ contact.value }} - {{ contact.description }}
        </li>

        <p class="description widget">{{ offer.description }}</p>
    </div>

    <div class="widgets">
        <addressviewer ng-model="offer.address" />
        <gallery-preview ng-model="offer.gallery" limit="4" />
    </div>

</section>
