<div id="categories-view" ng-include="categoriesView"></div>

<div class="offer-page">
    <div class="navigation">
        <pebutton icon="arrow-circle-o-left" href="#/offers/{{ selectedCategory.id }}" watch="offer.id">Do listy</pebutton>
        <pebutton icon="edit" href="#/offerAddEdit/{{ offer.id }}" watch="offer.id">Edytuj</pebutton>
        <pebutton icon="times" href="#" ng-click="removeOffer()">Usuń</pebutton>
    </div><br />

    <div id="offer-view" ng-include="offerView" ng-show="fetched"></div>

    <h2 ng-show="offerDoesNotExists">Nie ma takiej firmy :/</h2>
    <h2 ng-show="otherError">Nieznany błąd</h2>
</div>

<div class="related-offers" ng-controller="RelatedOffersController">
    <h3 class>Najbliższe podobne firmy:<br /></h3>
    <a href="#/offer/{{ offer.id }}" ng-repeat="offer in relatedOffers">
        <figure class="offer-preview">
            <img ng-src="{{ offer.logo.path }}" alt="offer logo">
            <h2>{{ offer.name }}</h2>
            <h3>{{ offer.address.city }}</h3>
            <p>{{ offer.description }}</p>
        </figure>
    </a>
    <h4 ng-show="relatedOffers.length == 0">Brak pasujących wyników</h4>
</div>