<div class="offer-page">
    <div class="navigation">

        <p class="title"
           editable-text="offer.name"
           e-form="offerTitle"
           ng-click="showEditable(offerTitle)"
           ng-class="{editing: editing}"
           onbeforesave="updateOffer($data)">
            {{offer.name}}
        </p>

        <pebutton icon="edit" ng-click="editing=true" ng-show="!editing">Edytuj</pebutton>
        <pebutton icon="save" ng-click="editing=false" ng-show="editing">Zakończ edycję</pebutton>
        <pebutton icon="times" href="#" ng-click="removeOffer()" ng-show="!editing">Usuń</pebutton>
        <pebutton icon="ban" href="#" ng-show="!editing">Wyłącz ofertę</pebutton>
    </div>

    <div id="offer-view" ng-include="offerView" ng-show="fetched"></div>

    <h2 ng-show="offerDoesNotExists">Nie ma takiej oferty :/</h2>
    <h2 ng-show="otherError">Nieznany błąd</h2>
</div>

<div class="related-offers" ng-controller="RelatedOffersController">
    <h3 class>Najbliższe podobne oferty:<br /></h3>
    <offerpreview ng-repeat="offer in relatedOffers" offer="offer">
    <h4 ng-show="relatedOffers.length == 0">Brak pasujących wyników</h4>
</div>