<div class="offer-page">
    <div class="navigation">
        <p class="title">{{offer.name}}</p>
        <pebutton icon="edit" href="/#/offerAddEdit/{{ offer.id }}" watch="offer.id">Edytuj</pebutton>
        <pebutton icon="times" href="#" ng-click="removeOffer()">Usuń</pebutton>
        <pebutton icon="times" href="#">Wyłącz ofertę</pebutton>
    </div><br />

    <div id="offer-view" ng-include="offerView" ng-show="fetched"></div>

    <h2 ng-show="offerDoesNotExists">Nie ma takiej oferty :/</h2>
    <h2 ng-show="otherError">Nieznany błąd</h2>
</div>

<div class="related-offers" ng-controller="RelatedOffersController">
    <h3 class>Najbliższe podobne oferty:<br /></h3>
    <offerpreview ng-repeat="offer in relatedOffers" offer="offer">
    <h4 ng-show="relatedOffers.length == 0">Brak pasujących wyników</h4>
</div>