<section id="change-password-from-recall">
    <form ng-submit="changePassword(password)" autocomplete>
        <h4>Ustaw nowe hasło:</h4>
        <input type="password" placeholder="Hasło" ng-model="password" minlength="3" required>
        <input type="submit" value="Ustaw hasło" ng-show="!waiting" required>
        <h3 class="fa fa-sun-o fa-spin" ng-show="waiting"></h3>

        <h4 class="login-error" ng-show="message == 'invalid_token'">Niepoprawny lub zużyty link</h4>
        <h4 class="login-error" ng-show="message == 'token_expired'">Link już wygasł. Wygeneruj nowy.</h4>
        <h4 class="login-error" ng-show="message == 'password_to_short'">Za krótkie hasło</h4>
        <h4 class="login-success" ng-show="message == 'password_set'">Zmieniono hasło</h4>
    </form>
</section>
