<div style="background: white; padding: 20px;">

    <div>
        <pebutton icon="star-half-o">Right</pebutton>
        <pebutton icon="refresh">$scope expression</pebutton>
        <pebutton icon="frown-o">Often times</pebutton>
    </div>

    <div>
        <pebutton icon="suitcase" text-position="bottom">Bottom</pebutton>
        <pebutton icon="btc" text-position="bottom">Rather large</pebutton>
        <pebutton icon="music" text-position="bottom">learning</pebutton>
    </div>

    <div>
        <pebutton icon="money" button-slide>Bottom slide</pebutton>
        <pebutton icon="desktop" button-slide>JavaScript</pebutton>
        <pebutton icon="comment-o" button-slide>user-based events</pebutton>
        <pebutton icon="bell-o" button-slide>Allows</pebutton>
    </div>

    <div>
        <pebutton icon="camera" tooltip1="tooltip" />
        <pebutton icon="check-square-o" tooltip1="very long tooltip" />
        <pebutton icon="suitcase" />
        <pebutton icon="leaf" />
    </div>

</div>
