<div style="background: white; padding: 20px;">

    <div class="flex" style="padding:5px">
        <md-button class="fa fa-star-half-o call-to-action-button">Right</md-button>
        <md-button class="fa fa-refresh">$scope expression</md-button>
        <md-button class="fa fa-frown-o">Often times</md-button>
    </div>

    <div class="flex" style="padding:5px">
        <md-button class="fa fa-suitcase bottom-button call-to-action-button">Bottom</md-button>
        <md-button class="fa fa-btc bottom-button">Rather large</md-button>
        <md-button class="fa fa-music bottom-button submit-button">learning</md-button>
    </div>

    <div class="flex" style="padding:5px">
        <md-button class="fa fa-camera" tooltip1="tooltip"></md-button>
        <md-button class="fa fa-check-square-o submit-button" tooltip1="very long tooltip"></md-button>
        <md-button class="fa fa-suitcase"></md-button>
        <md-button class="fa fa-leaf call-to-action-button"></md-button>
    </div>

    <div class="flex" style="padding:5px">
        <md-button class="small-button submit-button" class="fa fa-star-half-o">Right</md-button>
        <md-button class="small-button call-to-action-button" class="fa fa-refresh">$scope expression</md-button>
        <md-button class="small-button" class="fa fa-frown-o">Often times</md-button>
    </div>

</div>
