<div style="background: white; padding: 20px;">

    <div>
        <pebutton icon="star-half-o" text-position="right" text="Right" />
        <pebutton icon="refresh" text-position="right" text="$scope expression" />
        <pebutton icon="frown-o" text-position="right" text="Often times" />
    </div>

    <div>
        <pebutton icon="suitcase" text="Bottom" />
        <pebutton icon="btc" text="Rather large" />
        <pebutton icon="music" text="learning" />
    </div>

    <div>
        <pebutton icon="money" button-slide text="Bottom slide" />
        <pebutton icon="desktop" button-slide text="JavaScript" />
        <pebutton icon="comment-o" button-slide text="user-based events" />
        <pebutton icon="bell-o" button-slide text="Allows" />
    </div>

    <div>
        <pebutton icon="camera" tooltip1="tooltip" />
        <pebutton icon="check-square-o" tooltip1="very long tooltip" />
        <pebutton icon="suitcase" />
        <pebutton icon="leaf" />
    </div>

</div>
