<div ng-include="searchForm"></div>

<div ng-controller="PromotedOffersController">

    <div id="promoted-offers">
        <section class="category" ng-repeat="section in promotedOffers">
            <h2>{{ section.category.name }}</h2>
            <flex-slider slide="offer in section.offers" animation="slide" item-width="260">
                <li>
                    <offerpreview offer="offer"></offerpreview>
                </li>
            </flex-slider>
            <div></div>
        </section>
    </div>
</div>
