<div id="search-view" ng-controller="SearchController">
    <button ng-click="toogleSearch()">?</button>

    <div id="search-form" ng-show="formVisible">
        Kategoria: <select ng-model="category" ng-options="c.id as c.name for c in categories"></select><br />
        tagi: <input type="text" ng-model="tags"><br />
        Miejscowość: <input type="text" ng-model="location"><br />
        Maksymalna odległość: <input type="range" min="1" max="200" ng-model="range"><br />
        <button ng-click="search()">szukaj</button>
    </div>
</div>
