<div id="search-view-wrapper" ng-controller="SearchController">
<div id="search-view">
    <section class="slideAnimation2" ng-show="!bigMap">
        <div class="formTitle">
            Szukajka
        </div>

        <div>
            <pebutton id="searchButton" icon="search" ng-click="search()"></pebutton>
            <div class="searchField">
                <input type="text" placeholder="Szukaj">
                <!-- <angucomplete
                  placeholder="Szukaj"
                  pause="100"
                  localdata="searchTags"
                  searchFields="name"
                  titlefield="name"
                  selectedobject="selectedSearchTags" /> -->
            </div>
        </div>

        <div class="searchFilter" ng-click="categoryEnabled=!categoryEnabled">
            <span class="fa" ng-class="{'fa-angle-down': !categoryEnabled, 'fa-angle-up': categoryEnabled}"></span>
            Kategoria
            <span class="fa" ng-class="{'fa-angle-down': !categoryEnabled, 'fa-angle-up': categoryEnabled}"></span>
            <span class="fa" ng-class="{'fa-check-square-o': categoryEnabled, 'fa-square-o': !categoryEnabled}"></span>
        </div>
        <div class="formField slideAnimation" ng-show="categoryEnabled">
            <select ng-model="category" ng-options="c.id as c.name for c in categories"></select>
        </div>

        <div class="searchFilter" ng-click="locationEnabled=!locationEnabled">
            <span class="fa" ng-class="{'fa-angle-down': !locationEnabled, 'fa-angle-up': locationEnabled}"></span>
            Lokalizacja
            <span class="fa" ng-class="{'fa-angle-down': !locationEnabled, 'fa-angle-up': locationEnabled}"></span>
            <span class="fa" ng-class="{'fa-check-square-o': locationEnabled, 'fa-square-o': !locationEnabled}"></span>
        </div>
        <div class="formField slideAnimation" ng-show="locationEnabled">
            <addressSetter ng-model="location" type="simple"></addressSetter>
                Zasięg szukania:
            <div ui-slider min="1" max="50" step="1" ng-model="radius"></div>
            <span>{{ radius }}km</span>
        </div>

        <div class="searchFilter" ng-click="priceEnabled=!priceEnabled">
            <span class="fa" ng-class="{'fa-angle-down': !priceEnabled, 'fa-angle-up': priceEnabled}"></span>
            Cena
            <span class="fa" ng-class="{'fa-angle-down': !priceEnabled, 'fa-angle-up': priceEnabled}"></span>
            <span class="fa" ng-class="{'fa-check-square-o': priceEnabled, 'fa-square-o': !priceEnabled}"></span>
        </div>
        <div class="formField slideAnimation" ng-show="priceEnabled">
            <div ui-slider="{range: true}" min="0" max="1000" step="10" ng-model="priceRange"></div>
            <div class="price">
                <input type="text" ng-model="priceRange[0]" />zł -
                <input type="text" ng-model="priceRange[1]" />zł
            </div>
        </div>

        <div class="searchFilter" ng-click="mapVisible=!mapVisible">
            <span class="fa" ng-class="{'fa-angle-down': !mapVisible, 'fa-angle-up': mapVisible}"></span>
            Mapa
            <span class="fa" ng-class="{'fa-angle-down': !mapVisible, 'fa-angle-up': mapVisible}"></span>
            <span class="fa" ng-class="{'fa-check-square-o': mapVisible, 'fa-square-o': !mapVisible}"></span>
        </div>
    </section>
    <div class="formField slideAnimation" ng-show="mapVisible">
        <pebutton
            icon="search-plus"
            text-position="right"
            text="Duża mapa"
            ng-click="bigMap=true; updateMap(0.5)"
            ng-show="!bigMap">
        </pebutton>
        <pebutton
            icon="search-minus"
            text-position="right"
            text="Mała mapa"
            ng-click="bigMap=false; updateMap(0.5)"
            ng-show="bigMap">
            </pebutton>
        <addressViewer
            ng-model="location"
            radius="radius"
            scale-policy="radius-only"
            markers-model=""
            update-function-name="updateMap"
            ng-class="{bigAddressViewer: bigMap, smallAddressViewer: !bigMap}" >
        </addressViewer>
    </div>
</div>
</div>