<div id="search-view" ng-controller="SearchController">
    <pebutton icon="search" ng-click="toogleSearch()" />

    <div id="search-form" ng-show="formVisible">
        Kategoria: <select ng-model="category" ng-options="c.id as c.name for c in categories"></select><br />
        <!-- tagi: <input type="text" ng-model="tags"><br /> -->
        <!-- Miejscowość: <input type="text" ng-model="location"><br /> -->

        <addressSetter ng-model="location" label="Lokalizacja" type="simple" />

        Zasięg szukania: <input type="range" min="1" max="50" ng-model="radius"><span>{{ radius }}km</span><br />

        <addressViewer ng-model="location" radius="radius" scale-policy="radius-only" />

        <pebutton icon="search" ng-click="search()" text-position="right" text="Szukaj" />
    </div>
</div>
