<div id="user-profile">
    <tabset>
        <tab heading="Informacje">
            <div ng-include="informationView"></div>
        </tab>
        <tab heading="Ustawienia">
            <div ng-include="settingsView"></div>
        </tab>
        <tab heading="Upodobania">
            <div ng-include="likingsView"></div>
        </tab>

    </tabset>
    <button class="btn btn-primary" ng-click="saveAccount()">Zapisz</button>
    <span ng-show="accountSaved">Zapisano</span>
    <span ng-show="savingError">Błąd zapisu</span>
</div>
