{% extends '../base.jinja2' %}
{% block content %}
    <a href="/offers/search">Szukaj</a>
    <h2>Polecane oferty</h2>
    {% for offer_category in promoted_offers %}
        <section>
            <h3>{{ offer_category.category.name }}</h3>
            <ul>
            {% for offer in offer_category.offers %}
                <li>
                    {% include '../widgets/offer_preview.jinja2' %}
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endfor %}
{% endblock %}
