<div class="address-setter">
    <span ng-show="details" class="validation fa fa-check" />
    <div ng-class="{'input-wrapper': details}">
        <input
            type="text"
            placeholder="Lokalizacja"
            ng-model="address.formatted"
            ng-autocomplete
            options="{country: 'pl', types: 'geocode'}"
            details="details">
    </div>

    <div ng-show="locationComplete">
        <span id="validating-address" ng-show="validatingLocation">Walidowanie adresu...</span>
        <div ng-show="!validatingLocation">
            <span id="address-correct" ng-show="address.validated">Adres poprawny</span>
            <span id="address-incorrect" ng-show="!address.validated">Adres niepoprawny</span>
        </div>
    </div>
</div>
