<div class="infinite-scroll">
    <!-- <div class="pagination-wrapper">
        <div class="pagination">
            <ul>
                <li ng-repeat="page in pages" ng-click="fetchPage(page)" ng-class="{ loaded: page >= minLoadedOffset && page <= maxLoadedOffset, current: page == currentPage }"><span class="fa fa-chevron-right" ng-show="page == currentPage"/><span class="pageNumber">{{ page }}</span></li>
            </ul>
        </div>
    </div> -->
    <div class="manual-loader" ng-click="loadPrevious()" ng-show="!topIsLoaded"><span>Wczytaj wcześniejsze</span></div>

    <div class="loading-message">
        <span ng-show="waitingForMore == 'top'">Wczytywanie...</span>
    </div>

    <div class="content" ng-transclude></div>

    <div class="manual-loader" ng-click="loadNext()" ng-show="!bottomIsLoaded && manualNextLoading"><span>Wczytaj kolejne</span></div>

    <div class="loading-message">
        <span ng-show="waitingForMore == 'bottom'">Wczytywanie...</span>
        <span ng-show="bottomIsLoaded">Nie ma już więcej ofert :(</span>
    </div>
</div>
