<div class="liking" layout="row" layout-align="center stretch">
	<img src="{{ liking.subcategory.icon_path }}"
		 alt="{{ liking.subcategory.name }}"
		 ng-style="{'background-color': liking.subcategory.color}">

	<div class="content" layout="row" layout-align="space-between center">

		<span class="name">{{ liking.subcategory.name }}</span>

		<span class="level fa fa-{{ smileIcon }}"
			  ng-click="enableLikingChange(liking)"
			  ng-show="liking.state=='ready' || liking.state==undefined">
		</span>

		<div class="level-chooser" ng-if="liking.state=='changing'">
			<span class="level fa fa-frown-o" ng-class="{'current-level': liking.level === 1}" ng-click="setLiking(liking, 1)"></span>
		    <span class="level fa fa-meh-o" ng-class="{'current-level': liking.level === 2}"  ng-click="setLiking(liking, 2)"></span>
		    <span class="level fa fa-smile-o" ng-class="{'current-level': liking.level === 3}"  ng-click="setLiking(liking, 3)"></span>
		</div>

		<spinner ng-show="liking.state=='waiting'"></spinner>
	</div>
</div>
