<div class="liking">
	<img src="{{ liking.subcategory.icon_path }}"
		 alt="{{ liking.subcategory.name }}"
		 ng-style="{'background-color': liking.subcategory.color}">
	<span class="level fa fa-{{ smileIcon }}"></span>
	<div class="level-chooser">
		<span class="fa fa-frown-o" ng-class="{'current-level': liking.level === 1}" ng-click="setLiking(liking, 1)"></span>
	    <span class="fa fa-meh-o" ng-class="{'current-level': liking.level === 2}"  ng-click="setLiking(liking, 2)"></span>
	    <span class="fa fa-smile-o" ng-class="{'current-level': liking.level === 3}"  ng-click="setLiking(liking, 3)"></span>
	    <span class="fa fa-heart" ng-class="{'current-level': liking.level === 4}"  ng-click="setLiking(liking, 4)"></span>
	</div>
	<p>{{ liking.subcategory.name }}</p>
</div>
