<figure class="widget">
    <img ng-src="{{ offer.preview_image_url }}" class="face" alt="offer logo ">
    <section class="data">
        <span class="title">{{ offer.name }}</span>
        <span class="city">{{ offer.address.city }}</span>
        <span class="price" ng-show="offer.price_min">
            {{ offer.price_min }} zł
            <span ng-show="offer.price_max">
                - {{ offer.price_max }} zł
            </span>
        </span>
        <p ng-bind-html="offer.short_description"></p>
    </section>
    <section class="author" layout="vertical" layout-align="center center">
        <img ng-if="offer.author.avatar" src="{{ offer.author.avatar }}" alt="author avatar">
        <span>
            {{ offer.author.name }}
        </span>
    </section>
</figure>
