<div id="search-view" layout-pc="row" layout-tablet-landscape="row" layout="column">
	<div id="search-view-wrapper" ng-include="'assets/partials/offers/search.html'"></div>

	<infinitescroll
	        class="offer-list"
	        fetch-pages="3"
	        distance="1"
	        auto-scroll-limit="100",
	        element-size="190"
	        reset-function-name="resetSearch"
	        fetch-function="fetch"
	        scrolling-element="[ng-view]">

	    <a class="offer-previews-wrapper" href="/#/offers/{{ offer.id }}" ng-repeat="offer in entities">
	    	<offerpreview offer="offer"></offerpreview>
	    </a>
	</infinitescroll>
</div>
