<div id="search-view" layout="vertical" layout-md="horizontal">
	<div id="search-view-wrapper" ng-include="'assets/partials/offers/search.html'"></div>

	<infinitescroll
	        class="offer-list"
	        fetch-pages="2"
	        distance="1"
	        auto-scroll-limit="200",
	        element-size="{width: 230, height: 270}"
	        reset-function-name="resetSearch"
	        fetch-function="fetch">

	    <a class="offer-previews-wrapper" href="/#/offers/{{ offer.id }}" ng-repeat="offer in entities">
	    	<offerpreview offer="offer"></offerpreview>
	    </a>
	</infinitescroll>
</div>
