'<html ng-app="planevent">
<head>
    <title>Plan Event</title>

    <meta charset="utf-8">

    <script type="text/javascript" src="static/vendor.js"></script>

    <script type="text/javascript">
        var planevent = angular.module('planevent',
        ['ui.bootstrap', 'ngAnimate', 'ngRoute', 'ngResource', 'ngTable', 'angularFileUpload']);
    </script>

    <script type="text/javascript" src="static/app.js"></script>

    <link rel="stylesheet" href="static/vendor.css" />
    <link rel="stylesheet" href="static/admin.css" />
</head>
<body ng-controller="AdminPageController">

    <alert ng-repeat="msg in dangers" type="'danger'">{{ msg }}</alert>
    <alert ng-repeat="msg in warnings" type="'warning'">{{ msg }}</alert>
    <alert ng-repeat="msg in successes" type="'success'">{{ msg }}</alert>

    <section id="admin-panel">
        <tabset>
            <tab heading="Vendor promotion">
                <div ng-include="vendorPromotionView"></div>
            </tab>
            <tab heading="Categories">
                <div ng-include="categoriesView"></div>
            </tab>
            <tab heading="Subcategories">
                <div ng-include="subcategoriesView"></div>
            </tab>
            <tab heading="Statistics">
                <div ng-include="statisticsView"></div>
            </tab>
            <tab heading="Testy A/B">
                <div ng-include="abTestsView"></div>
            </tab>
            <tab heading="Database">
                <div ng-include="databaseView"></div>
            </tab>
        </tabset>
    </section>
</body>
</html>
