<html ng-app="planevent">
<head>
    <title>Plan Event</title>

    <meta charset="utf-8">

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjHawH1SxgUWryZNnQ5IY89Sz7xl_mBHU&sensor=false"></script>

    <script type="text/javascript" src="static/vendor.js"></script>

    <script type="text/javascript">
        var planevent = angular.module('planevent',
        ['ui.bootstrap', 'ngAnimate', 'ngRoute', 'ngResource',
        'infinite-scroll', 'angularFileUpload']);
    </script>

    {% if PIWIK_URL %}
        <!-- Piwik -->
        <script type="text/javascript">
        <!-- var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik-tul.rhcloud.com/" : "http://piwik-tul.rhcloud.com/"); -->
        var pkBaseURL = '{{ PIWIK_URL }}';
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        </script><noscript><p><img src="http://piwik-tul.rhcloud.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
        <!-- End Piwik Tracking Code -->
    {% endif %}

    <script type="text/javascript" src="static/app.js"></script>

    <link rel="stylesheet" href="static/vendor.css" />
    <link rel="stylesheet" href="static/main.css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainPageController">
    <header>
        <a href="/">
            <img src="/static/images/icons/question.png" alt="logo">
            <h1>Tu tytuł</h1>
        </a>
        <div ng-include="loggedUserView"></div>

        <experiment id="addVendorExp">
            <variation id="bsVar">
                <a class="addVendorBtn btn btn-primary" href="#/vendorAddEdit" ng-click="abIncrement()">Dodaj firmę</a><br /><br /><br />
            </variation>
            <variation id="greenVar">
                <a class="addVendorBtn addVendorGreen" href="#/vendorAddEdit" ng-click="abIncrement()">Dodaj firmę</a><br /><br /><br />
            </variation>
        </experiment>
    </header>
    <div id="container">
        <section class="content">
            <div id="view" ng-view></div>
        </section>
    </div>
    <footer>
        <a href="#/about">O nas</a>|
        <a href="#/terms">Regulamin</a>|
        <a href="#/faq">FAQ</a>|
        <a href="#/contact">Kontakt</a>
    </footer>
</body>
</html>
