    <html ng-app="planevent">
<head>
    <title>Plan Event</title>

    <meta charset="utf-8">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAjHawH1SxgUWryZNnQ5IY89Sz7xl_mBHU&sensor=false"></script>

    <script type="text/javascript" src="static/vendor.js"></script>

    <script type="text/javascript">
        var planevent = angular.module('planevent',
        [
            // configurable
            'xeditable',
            // built-in
            'ngAnimate',
            'ngRoute',
            'ngResource',
            // angular ui bootstrap
            'ui.bootstrap.alert',
            'ui.bootstrap.modal',
            'ui.bootstrap.tabs',
            'ui.bootstrap.tpls',
            'ui.slider',
            // others
            'angularFileUpload',
            'ngAutocomplete',
            'angucomplete',
            'angular-flexslider',
            'textAngular',
        ]);
    </script>

    {% if PIWIK_URL %}
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ PIWIK_URL }}";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();

        </script>
        <noscript><p><img src="http://{{ PIWIK_URL }}/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}

    <script type="text/javascript" src="static/app.js"></script>

    <link rel="stylesheet" href="static/vendor.css" />
    <link rel="stylesheet" href="static/main.css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainPageController">
    <header>
        <a class="title" href="/">
            <img src="/static/images/icons/question.png" alt="logo">
            <h1>Planevent</h1>
        </a>
        <!-- <div ng-include="'assets/partials/loggedUser.html'"></div> -->

        <div class="actions">
            <pebutton icon="plus" class="call-to-action-button">
                Dodaj ofertę
            </pebutton>
            <pebutton icon="rocket" class="submit-button" ng-click="showRegistrationForm()">
                Zarejestruj się
            </pebutton>
            <pebutton icon="sign-in" ng-click="showLoginForm()">
                Zaloguj się
            </pebutton>
        </div>

        <!-- <experiment id="addOfferExp">
            <variation id="bsVar">
                <a class="addOfferBtn btn btn-primary" href="#/offerAddEdit" ng-click="abIncrement()">Dodaj firmę</a><br /><br /><br />
            </variation>
            <variation id="greenVar">
                <a class="addOfferBtn addOfferGreen" href="#/offerAddEdit" ng-click="abIncrement()">Dodaj firmę</a><br /><br /><br />
            </variation>
        </experiment> -->

    </header>
    <div id="container">
        <section class="content">
            <div id="view" ng-view></div>
        </section>
    </div>
    <footer>
        <a href="#/about">O nas</a>|
        <a href="#/terms">Regulamin</a>|
        <a href="#/faq">FAQ</a>|
        <a href="#/contact">Kontakt</a>
    </footer>

    <div ng-controller="FeedbackController">
        <div id="feedback" ng-class="{'extended': extended, 'collapsed': !extended}">
            <div class="title" ng-click="extended=true">Feedback</div>

            <label>Tytuł</label><br />
            <input type="text" ng-model="title"><br />

            <label>Treść</label><br />
            <textarea ng-model="content"></textarea><br />

            <pebutton ng-click="extended=false">Zamknij</pebutton>
            <pebutton icon="share" ng-click="sendFeedback()" ng-show="status!='waiting'">Wyślij</pebutton>
            <h5 class="fa fa-sun-o fa-spin" ng-show="status=='waiting'"></h5>
            <h5 class="fa fa-check" ng-show="status=='success'">Wysłano</h5>
            <h5 class="fa fa-times" ng-show="status=='error'">Błąd podczas wysyłania</h5>
            <h5 class="fa fa-times" ng-show="status=='empty'">Wypełnij formularz</h5>
        </div>
    </div>

</body>
</html>
