<div ng-controller="ProfileChangePasswordController">
	<form class="login-form" ng-submit="changePassword(oldPassword, newPassword)">
	    <input ng-show="loggedUser.password_protected" name="oldPassword" type="password" ng-model="oldPassword" placeholder="Stare hasło" required>
	    <input name="newPassword" type="password" ng-model="newPassword" placeholder="Nowe hasło" required>
	    <input type="submit" value="Zmień hasło" ng-show="!waiting">
	    <h3 class="fa fa-sun-o fa-spin" ng-show="waiting"></h3>
	    <h4 class="login-error" ng-show="message == 'invalid_credentials'">Stare hasło jest niepoprawne</h4>
	    <h4 class="login-success" ng-show="message == 'password_changed'">Hasło zostało zmienione</h4>
	</form>
</div>
