<article ng-controller="ProfileChangePasswordController">
	<form class="login-form" ng-submit="changePassword(oldPassword, newPassword, newPasswordRepeated)">

		<span ng-show="!account.password_protected">Twoje konto nie jest jeszcze zabezbieczone hasłem.</span>

	    <md-text-float
	    	ng-show="account.password_protected"
	    	label="Stare hasło"
	    	md-fid="oldPassword"
	    	type="password"
	    	ng-model="oldPassword"
	    	ng-required="account.password_protected">
	    </md-text-float>

	    <md-text-float
	    	label="Nowe hasło"
	    	md-fid="newPassword"
	    	type="password"
	    	ng-model="newPassword"
	    	required>
	    </md-text-float>

	    <md-text-float
	    	label="Powtórz nowe hasło"
	    	md-fid="newPasswordRepeated"
	    	type="password"
	    	ng-model="newPasswordRepeated"
	    	required>
	    </md-text-float>

	    <md-button
	    	type="submit"
	    	class="submit-button wide-button"
	    	ng-show="!waiting">
	    	Zmień hasło
	    </md-button>

	    <spinner ng-show="waiting"></spinner>
	</form>
</article>
