<div id="user-profile">
    <!-- <div ng-include="'assets/partials/profile/userProfileNavigation.html'"></div> -->

    <article id="likings-view">
        <section class="category" ng-repeat="category in categories">
            <h1>{{ category.name }}</h1>
            <liking ng-model="liking"
                    ng-repeat="liking in account.likings"
                    ng-click="showLevelChooser(liking, $event)"
                    ng-if="liking.subcategory.category.id === category.id" />
        </section>
    </article>
</div>
