<section layout="column" layout-align="center center" ng-controller="ProfileInformationsController">
	<md-text-float label="Pseudomin" ng-model="account.name"></md-text-float>
	<md-text-float label="Imię" ng-model="account.first_nam"></md-text-float>
	<md-text-float label="Nazwisko" ng-model="account.last_name"></md-text-float>
	<md-text-float label="Płeć" ng-model="account.gender"></md-text-float>
	<md-divider></md-divider>
	<md-text-float label="" ng-model="account.created_at"></md-text-float>
	<md-text-float label="" ng-model="account.login_count"></md-text-float>
</section>
