<article ng-controller="ProfileSettingsController" class="settings">
    <div id="address-form">

        <div layout layout-align="start center">
            <label>Wysyłaj rekomendacje</label>
            <md-switch ng-model="account.settings.use_recommendations" aria-label="Use recommendations"></md-switch>
        </div>

        <div layout layout-align="center center">
            <label>Zasięg rekomendacji</label>
            <md-slider ng-model="account.settings.recomendations_range"
                       min="1"
                       max="50"
                       ng-disabled="!account.settings.address.validated"></md-slider>
            <span>{{ account.settings.recomendations_range }} km</span>
        </div>

        <label>Adres</label>
        <addressSetter ng-model="account.settings.address"
                       type="simple"
                       label="Lokalizacja" />
        <addressViewer ng-model="account.settings.address"
                       radius="account.settings.recomendations_range" />
    </div>

    <md-button class="wide-button fa fa-save" ng-click="saveAccount()">Zapisz zmiany</md-button>
</article>
